/**
 * Single product
 *
 * @package woobiboo
 * @since 3.0.0
 */
body.archive {
	.woocommerce-products {
		&-header {
			margin-top: 25px;
			margin-bottom: 25px;
			.page-title {
				margin-top: 15px;
				margin-bottom: 15px;
				display: inline-block;
			}
			.term-description {
				margin-bottom: 0;
			}
		}
	}
	.woocommerce-ordering {
		margin-top: 20px;
		margin-bottom: 20px;
		display: flex;
		justify-content: flex-end;
		select {
			max-width: unset;
			@include media-up(md) {
				max-width: 285px;
			}
		}
	}

	.category-long-description {
		margin-top: 40px;
		position: relative;
		padding-bottom: 30px;
		button {
			position: absolute;
			bottom: -5px;
		}
	}

}