/**
 * Product loop
 *
 * @package woobiboo
 * @since 3.0.0
 */
ul.products {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 8px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	@include media-up(xs) {
		grid-template-columns: repeat(3, 1fr);
	}
	@include media-up(md) {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 30px;
	}
	&.columns-1 {
		grid-template-columns: repeat(1, 1fr);
	}
	&.columns-2 {
		grid-template-columns: repeat(2, 1fr);
	}
	&.columns-3 {
		grid-template-columns: repeat(3, 1fr);
	}
	&.columns-5 {
		@include media-up(lg) {
			grid-template-columns: repeat(5, 1fr);
		}
	}
	&.columns-6 {
		@include media-up(lg) {
			grid-template-columns: repeat(6, 1fr);
		}
	}
	> li {
		a {
			display: flex;
			flex-grow: 1;
			flex-flow: column nowrap;
			background: white;
			padding: 16px;
			border-radius: 8px;
			border: solid 1px var( --c-neutral30 );
			height: 100%;
			position: relative;
			transition: border-color .2s ease-in-out, color .2s ease-in-out;
			@include media-up(md) {
				padding: 24px;
			}
			.onsale {
				color: var( --c-pink );
				background-color: white;
				text-transform: uppercase;
				font-size: 12px;
				line-height: 18px;
				position: absolute;
				top: 12px;
				padding: 0px 3px;
			}
			picture {
				position: relative;
				margin: -16px -16px 16px -16px;
				padding-top: calc(100% + 48px);
				border-radius: 8px 8px 0 0;
				@include media-up(md) {
					margin: -24px -24px 24px -24px;
				}
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: contain;
					border-radius: 8px 8px 0 0;
				}
			}
			h2 {
				font-size: 14px;
				font-weight: 500;
				margin-bottom: 8px;
				@include media-up(md) {
					font-size: 16px;
				}
			}
			.price {
				margin-top: auto;
				margin-right: auto;
				align-self: flex-end;
			}
			&:hover {
				border: solid 1px var( --c-turquoise );
			}
		}
		&.sale {
			a .price {
				color: var( --c-pink );
 			}
		}
	}
}