/**
 * Product variations
 *
 * @package woobiboo
 * @since 3.0.0
 */
.product__summary {

	// Variation select
	.variations {
		margin-top: 16px;
		margin-bottom: 16px;

		&__single {
			margin-bottom: 16px;
		}
	}

	.fpf-field {
		margin-bottom: 16px;
	}

	.fpf-checkbox {
		.checkbox {
			background-color: white;
			border: solid 1px var(--c-neutral40);
			padding: 16px;
			border-radius: 4px;
			transition: all .2s ease-in-out;

			&:hover {
				border-color: var(--c-turquoise);
			}
		}
	}

	.fpf-totals {
		>dl {
			margin-bottom: 15px;
			display: grid;
			grid-template-columns: 1fr auto;
			grid-gap: 8px;

			>dt,
			>dd {
				float: none;
				width: unset;
			}
		}
	}

	// Variations
	// Kolor podstawowy
	#fpf_9882327_field,
	#fpf_4913109_field,
	#fpf_8567575_field {
		legend {
			margin-bottom: 10px;
		}

		.radio {
			border: solid 1px var(--c-neutral40);
			background-color: white;
			border-radius: 4px;
			cursor: pointer;
			display: inline-flex;
			flex-flow: column nowrap;
			position: relative;
			padding: 5px;
			transition: all .2s ease-in-out;
			width: 66px;
			margin: 3px;

			&:hover {
				border-color: var(--c-turquoise);
			}

			.circle-name {
				display: none;
			}

			.circle-color {
				display: block;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				margin: 5px auto 0;

				&.szary {
					background: #d1cecf;
				}

				&.ndrewno {
					background: #e5ceb3;
				}

				&.bialy {
					background: #fff;
				}

				&.fioletowy {
					background: #cec9e6;
				}

				&.mietowy {
					background: #cbf7ef;
				}

				&.blekitny {
					background: #a5d9ec;
				}

				&.turkusowy {
					background: #83c7ce;
				}

				&.czarny {
					background: #5b656f;
				}

				&.rozowy {
					background: #f0bad1;
				}

				&.zolty {
					background: #ffe683;
				}

				&.pomaranczowy {
					background: #fdc9b4;
				}

				&.limonkowy {
					background: #e0e99b;
				}

				&.zielony {
					background: #aee5b9;
				}

				&.lesnozielony {
					background: #5fa361;
				}

				&.granatowy {
					background: #193456;
				}

				&.butelkowazielen {
					background: #015a41;
				}
			}

			input[type="radio"] {
				margin: 0 auto;
			}
		}
	}

	// Kolor elementów
	#fpf_3246443_field,
	#fpf_4849614_field,
	#fpf_9254158_field {
		font-weight: 400;
		font-size: 18px;
	}

	.fpf-heading+.fpf-checkbox,
	.fpf-checkbox+.fpf-checkbox {
		display: inline-block;
		width: 66px;
		margin: 0px;
		margin-bottom: 6px;

		.form-row {
			margin-bottom: 0;

			.checkbox {
				border: solid 1px var(--c-neutral40);
				background-color: white;
				border-radius: 4px;
				cursor: pointer;
				display: inline-flex;
				flex-flow: column nowrap;
				position: relative;
				padding: 5px;
				width: 100%;
				transition: all .2s ease-in-out;
				margin: 0;
				height: 66px;

				input[type="checkbox"] {
					margin: 0 auto;
				}

				.admin-name {
					display: block;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					margin: 5px auto 0;
					overflow: hidden;
					position: absolute;
					background: red;
					bottom: 5px;
					left: calc(50% - 15px);
					color: transparent;
					pointer-events: none;
					font-size: 0;
				}

				.name-checkbox {
					display: none;
				}

				&:hover {
					border-color: var(--c-turquoise);
				}
			}

			&.szary-checkbox .checkbox .admin-name {
				background: #d1cecf;
			}

			&.ndrewno-checkbox .checkbox .admin-name {
				background: #e5ceb3;
			}

			&.bialy-checkbox .checkbox .admin-name {
				background: #fff;
			}

			&.fioletowy-checkbox .checkbox .admin-name {
				background: #cec9e6;
			}

			&.mietowy-checkbox .checkbox .admin-name {
				background: #cbf7ef;
			}

			&.blekitny-checkbox .checkbox .admin-name {
				background: #a5d9ec;
			}

			&.turkusowy-checkbox .checkbox .admin-name {
				background: #83c7ce;
			}

			&.czarny-checkbox .checkbox .admin-name {
				background: #5b656f;
			}

			&.rozowy-checkbox .checkbox .admin-name {
				background: #f0bad1;
			}

			&.zolty-checkbox .checkbox .admin-name {
				background: #ffe683;
			}

			&.pomaranczowy-checkbox .checkbox .admin-name {
				background: #fdc9b4;
			}

			&.limonkowy-checkbox .checkbox .admin-name {
				background: #e0e99b;
			}

			&.zielony-checkbox .checkbox .admin-name {
				background: #aee5b9;
			}

			&.lesnozielony-checkbox .checkbox .admin-name {
				background: #5fa361;
			}

			&.granatowy-checkbox .checkbox .admin-name {
				background: #193456;
			}

			&.butelkowazielen-checkbox .checkbox .admin-name {
				background: #015a41;
			}
		}
	}

	// Imię
	// Nagłówek
	#fpf_3412545_field,
	#fpf_6335369_field,
	#fpf_6079070_field,
	#fpf_7034298_field {
		display: none;
	}

	#fpf_2999821_field,
	#fpf_9073068_field,
	#fpf_9884569_field,
	#fpf_6172686_field {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;

		legend {
			margin-bottom: 10px;
		}

		.radio {
			background: white;
			padding: 16px;
			border-radius: 4px;
			margin: 0;
			border: solid 1px var(--c-neutral40);
			transition: all .2s ease-in-out;

			&:hover {
				border-color: var(--c-turquoise);
			}

			&:active {
				border-color: var(--c-turquoise);
				box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
			}
		}


		flex-direction: column;

	}

	.fpf-radio {

		.form-row.wybierzwersje,
		.form-row.Chooseaversion {
			display: flex !important;

			legend {
				display: block;
				width: 100%;
			}

			label.radio {
				display: inline-flex;
				flex: 0 0 calc(50% - 6px);
				vertical-align: center;
				align-items: flex-start;
				flex-flow: column wrap;
				position: relative;
				padding-left: 30px !important;

				input[type=radio] {
					position: absolute;
					top: calc(50% - 8px);
					left: 10px;
				}

				&:first-of-type {
					margin-right: 12px;
				}
			}
		}
	}
}