/**
 * Single product
 *
 * @package woobiboo
 * @since 3.0.0
 */
body.single-product {
	background-color: var(--c-lightgray);

	.woocommerce-products {
		padding: 0;

		>.product {
			display: grid;
			grid-template-columns: 1fr;
			grid-column-gap: 8px;
			grid-template-areas:
				"gallery"
				"sidebar"
				"description";

			@include media-up(md) {
				grid-template-columns: 1fr 292px;
				grid-template-areas:
					"gallery sidebar"
					"description sidebar";
			}

			@include media-up(lg) {
				grid-template-columns: 1fr 363px;
				grid-column-gap: 30px;
			}

			.woocommerce-product-gallery {
				grid-area: gallery;
				position: relative;
				z-index: 0;
				width: 100%;
				max-width: 100vw;
				opacity: 0;
				margin-bottom: 20px;

				@include media-up(xs) {
					max-width: 540px;
				}

				@include media-up(sm) {
					max-width: 720px;
					margin-top: 20px;
				}

				@include media-up(md) {
					margin-bottom: 40px;
					max-width: calc(980px - 363px - 8px);
				}

				@include media-up(lg) {
					max-width: calc(1140px - 363px - 30px);
				}

				&:before {
					display: block;
					content: '';
					background-color: white;
					width: 100vw;
					height: calc(100% + 500px);
					position: absolute;
					bottom: -1px;
					border-bottom: 1px solid #D7DFE6;
					z-index: -1;
					left: 0;

					@include media-up(xs) {
						left: calc(((-1 * 100vw) / 2) + (540px / 2));
					}

					@include media-up(sm) {
						left: calc(((-1 * 100vw) / 2) + (720px / 2));
					}

					@include media-up(md) {
						left: calc(((-1 * 100vw) / 2) + (980px / 2));
					}

					@include media-up(lg) {
						left: calc(((-1 * 100vw) / 2) + (1140px / 2));
					}
				}

				// Slider
				.wpgs-for {

					.flaticon-back,
					.flaticon-right-arrow {
						display: block;
						width: 40px;
						height: 80px;
						border: solid 1px var(--c-neutral30);
						background-color: white;

						@include media-up(xs) {
							display: none !important;
						}

						&:before {
							display: block;
							width: 20px;
							height: 20px;
							margin-top: calc(50% + 10px);
							content: '';
							margin-left: auto;
							margin-right: auto;
							background-repeat: no-repeat;
							background-size: contain;
							background-position: center;
						}

						&.slick-disabled:before {
							opacity: 1 !important;
						}
					}

					.flaticon-back:before {
						background-image: url("../img/chevron-blue-left.svg");
					}

					.flaticon-right-arrow:before {
						background-image: url("../img/chevron-blue-right.svg");
					}

					.slick-track {
						.slick-slide {
							a {
								display: flex;
								justify-content: center;
								align-items: center;

								img {
									max-width: 500px;
									max-height: 500px;
									object-fit: contain;
								}
							}
						}
					}

				}

				// Carousel
				.wpgs-nav {
					@include media-down(xs) {
						display: none;
					}

					@include media-up(sm) {
						margin-bottom: 15px;
					}

					.slick-prev,
					.slick-next {
						overflow: hidden;
						width: 24px;
						height: 80px;
						border-radius: 4px;
						display: block !important;
						font-size: 0;
						background-color: var(--c-neutral10);
						border: solid 1px var(--c-neutral30);
						margin: 0;

						&:before {
							display: block;
							width: 20px;
							height: 20px;
							content: '';
							margin-left: -10px;
							background-repeat: no-repeat;
							background-size: contain;
							background-position: center;
						}

						&.slick-disabled:before {
							opacity: 1 !important;
						}
					}

					.slick-prev {
						left: 0;

						&:before {
							background-image: url("../img/chevron-blue-left.svg");
						}
					}

					.slick-next {
						right: 0;

						&:before {
							background-image: url("../img/chevron-blue-right.svg");
						}
					}

					.slick-list {
						max-width: calc(100% - 200px);
						margin: 0 auto;

						.slick-slide {
							img {
								max-width: 100px;
								max-height: 100px;
								object-fit: contain;
							}
						}
					}
				}

			}

			.product__details {
				grid-area: description;
				background-color: white;
				border: 1px solid #D7DFE6;
				padding: 15px;

				@include media-up(xs) {
					border-radius: 8px;
				}

				@include media-up(md) {
					padding: 20px 50px;
				}

				@include media-up(lg) {
					padding: 40px 100px;
				}

				.section {
					margin-bottom: 40px;

					h2 {
						display: block;
						padding-bottom: 16px;
						border-bottom: solid 1px var(--c-neutral40);
					}

					// Product specification
					&--specification {
						.list {
							display: grid;
							grid-template-columns: auto 1fr;
							grid-gap: 16px;

							&__item-name {
								color: var(--c-neutral80);
								padding-right: 60px;
							}
						}
					}

					// Product color scheme
					&--colors {
						.list {
							display: grid;
							grid-template-columns: 1fr auto;
							grid-column-gap: 16px;
							grid-row-gap: 8px;

							&__name {
								padding-right: 8px;

								@include media-up(md) {
									padding-right: 52px;
									white-space: nowrap;
								}
							}

							&__colors {
								display: flex;
								flex-flow: row wrap;
								align-items: flex-end;
								justify-content: flex-end;

								.item {
									display: block;
									width: 40px;
									height: 40px;
									border-radius: 50%;
									align-self: end;
									margin-left: 8px;
									margin-bottom: 8px;
								}
							}
						}
					}

					// Product includes
					&--includes {
						ul {
							padding-left: 16px;
						}
					}

				}

			}

			.product__summary {
				flex-grow: 1;
				margin-top: 0px;
				margin-bottom: 8px;
				grid-area: sidebar;
				padding-left: 15px;
				padding-right: 15px;

				@include media-up(xs) {
					padding-left: 0px;
					padding-right: 0px;
				}

				@include media-up(md) {
					margin-top: 30px;
					margin-bottom: 0px;
				}

				&__sticky {
					@include media-up(md) {
						position: -webkit-sticky;
						position: -moz-sticky;
						position: -o-sticky;
						position: -ms-sticky;
						position: sticky;
						top: 30px;
						z-index: 999;
						min-height: 615px;

						// add style for new sticky
						form.variations_form.cart {
							padding: 10px;
							background: #fff;
						}

						// end new style for sticky


						h1 {
							@include media-up(md) {
								// new style for sticky
								background: #FFFFFF;
								margin-bottom: -32px;
								padding: 10px 10px 32px;
								// end new style for sticky
							}
						}
					}

					button,
					input,
					select {
						@include media-down(md) {
							max-width: unset;
						}
					}

					.woocommerce-input-wrapper {
						display: block;
					}

					// Badges
					.onsale {
						color: var(--c-pink);
						font-size: 14px;
						text-transform: uppercase;
						font-weight: 500;
					}

					// Product price
					.price {
						display: inline-flex;
						font-size: 24px;
						margin-top: -10px;
						margin-bottom: 0;

						@include media-up(md) {
							font-size: 32px;
							margin-top: 5px;
						}

						del {
							margin-left: 15px;
						}
					}

					//
					.added_to_cart.wc-forward {
						display: block;
						margin-top: 8px;
						background-color: white;
						border: solid 1px var(--c-neutral40);
						padding: 16px;
						border-radius: 4px;
						text-align: center;
						font-weight: 500;
						line-height: 1;
						color: var(--c-neutral80);
						transition: all .3s ease-in-out;

						&:hover {
							color: var(--c-turquoise);
							border-color: var(--c-turquoise);
						}
					}


				}
			}






			// Why us?
			.why-us {
				margin-top: 8px;
				background-color: var(--c-neutral10);
				padding: 24px;
				border-radius: 4px;
				border: solid 1px var(--c-neutral30);

				@include media-up(md) {
					margin-top: 40px;
				}

				.list {
					padding: 0;
					margin: 0;
					list-style-type: none;
					font-weight: 500;
					text-transform: uppercase;
					font-size: 14px;

					&__item {
						display: flex;

						img {
							display: block;
							width: 16px;
							height: 16px;
							object-fit: contain;
							margin-right: 10px;
							transform: translateY(1px);
						}

						&:not(:last-child) {
							margin-bottom: 16px;
						}
					}
				}
			}

			//Product rating
			.product-rating {
				margin-top: 8px;
				background-color: white;
				border-radius: 4px;
				border: solid 1px var(--c-neutral30);

				@include media-up(md) {
					margin-top: 24px;
				}

				header {
					padding: 16px 16px 6px;

					@include media-up(md) {
						padding: 24px 24px 0;
					}
				}

				.wrapper {
					padding: 12px 16px;
					display: flex;
					font-size: 14px;
					line-height: 14px;

					@include media-up(md) {
						padding: 18px 24px;
					}

					.rating {
						display: flex;
						flex-grow: 1;

						.average {
							font-size: 27px;
							transform: translateY(-3px);
						}
					}

					.rating-stars {
						list-style-type: none;
						padding: 0;
						margin: 0;
						margin-left: 8px;
						transform: translateY(-8px);

						li {
							display: inline-block;

							svg>path {
								fill: var(--c-neutral30);
							}
						}

						&.rating-1 {
							li:nth-child(1)>svg>path {
								fill: var(--c-turquoise);
							}
						}

						&.rating-2 {

							li:nth-child(1)>svg>path,
							li:nth-child(2)>svg>path {
								fill: var(--c-turquoise);
							}
						}

						&.rating-3 {

							li:nth-child(1)>svg>path,
							li:nth-child(2)>svg>path,
							li:nth-child(3)>svg>path {
								fill: var(--c-turquoise);
							}
						}

						&.rating-4 {

							li:nth-child(1)>svg>path,
							li:nth-child(2)>svg>path,
							li:nth-child(3)>svg>path,
							li:nth-child(4)>svg>path {
								fill: var(--c-turquoise);
							}
						}

						&.rating-5 {

							li:nth-child(1)>svg>path,
							li:nth-child(2)>svg>path,
							li:nth-child(3)>svg>path,
							li:nth-child(4)>svg>path,
							li:nth-child(5)>svg>path {
								fill: var(--c-turquoise);
							}
						}
					}
				}

				button {
					padding: 8px;
					color: var(--c-neutral80);
					font-size: 14px;
					border-radius: 0 0 4px 4px;
					border-top: solid 1px var(--c-neutral30);
					background: transparent;
					box-shadow: none !important;
					max-width: 100%;

					&:hover {
						color: var(--c-turquoise);
					}
				}
			}









			&.sale {
				.price {
					color: var(--c-pink);
				}
			}
		}

		.related.products {
			margin-top: 60px;

			@include media-down(xs) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}