/**
 * Base
 *
 * @package woobiboo
 * @since 2.0.0
 */


html {
	scroll-behavior: smooth;
}

html,
body {
	background: var(--c-lightgray) url("../img/background.png");
	background-attachment: fixed;
	background-repeat: repeat;
	font-family: var(--f-primary);
	font-weight: 400;
	line-height: 1.5;
	font-size: 18px;
	color: var(--c-text);

	@include media-down(md) {
		font-size: 16px;
	}
}



main {
	position: relative;
}



.container {
	display: block;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	@include container-max-widths();
}



.woobiboo-border-decoration {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	height: 2px;

	@include media-up(sm) {
		height: 4px;
	}

	>span {
		flex-grow: 1;

		&:nth-of-type(1),
		&:nth-of-type(5),
		&:nth-of-type(9) {
			background: var(--c-turquoise);
		}

		&:nth-of-type(2),
		&:nth-of-type(6) {
			background: var(--c-purple);
		}

		&:nth-of-type(3),
		&:nth-of-type(7) {
			background: var(--c-pink);
		}

		&:nth-of-type(4),
		&:nth-of-type(8) {
			background: var(--c-orange);
		}
	}
}


main {
	article {
		padding-top: 40px;

		h1 {
			text-align: center;
			margin-bottom: 40px;
		}
	}
}