/**
 * Editor settings
 *
 * @package amberbody
 * @since 1.0.0
 */

.editor-styles-wrapper {
  line-height: 1.5;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Main column width */
.wp-block:not([data-align="wide"]):not([data-align="full"]),
.container {
    @include container-max-widths();
    box-sizing: border-box;
    margin-left: auto; 
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    @include media-up(md) {
        margin-bottom: 75px;
        padding-left: 70px; 
        padding-right: 70px;
    }
    @include media-up(xl) {
        margin-bottom: 100px;
    }
}
 
/* Width of "wide" blocks */
// .wp-block[data-align="wide"] {
//     max-width: 1400px;
// }
 
/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}

.components-button {
    //@include font('heading', 'bold');
    line-height: 1;
}

.invisible-group {
    border-color: transparent!important;
    padding: 0!important;
}

[data-name="block-title"] {
    input[type="text"] {
        padding: 0;
        @extend h1;
        font-size: 36px!important;
        color: black;
    }
}

.form-wrap p, p.description, p.help, span.description {
    font-style: unset!important;
    margin: 0!important;
}