/**
 * Form elements
 *
 * @package WOOBIBOO
 * @since 3.0.0
 */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea {
	padding: 16px;
	font-size: 16px;
	line-height: 1.3;
	border: solid 1px var( --c-neutral40 );
	border-radius: 4px;
	width: 100%;
	color: var( --c-text );
	max-width: 363px;
	transition: all .2s ease-in-out;
	font-family: var( --f-primary );
	background: white;
	&::placeholder {
		color: var( --c-neutral65 );
	}
	&:hover {
		border-color: var( --c-turquoise );
	}
	&:focus {
		border-color: var( --c-turquoise );
		box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
	}
	&:disabled {
		background-color: #F4F4F4;
		border-color: #CFCFCF;
		color: var( --c-neutral65 );
	}
}

button:not(.button-text),
.button {
	display: inline-block;
	padding: 16px;
	width: 100%;
	border-radius: 4px;
	background-color: var( --c-orange );
	border: none;
	color: white;
	font-weight: 500;
	font-size: 18px;
	line-height: 1;
	text-transform: uppercase;
	text-align: center;
	max-width: 363px;
	transition: all .2s ease-in-out;
	&:hover {
		color: white;
		box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
	}
	&:disabled {
		background-color: var( --c-gray );
		box-shadow: none!important;
	}
}

.button-text {
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: var( --c-neutral80 );
	line-height: 24px;
	padding: 0;
	border: none;
	background: transparent;
	max-width: 363px;
	transition: color .2s ease-in-out;
	svg {
		width: 15px;
		height: 15px;
		margin: 0 5px;
		path {
			transition: all .2s ease-in-out;
			fill: var( --c-neutral80 );
		}
	}
	&:hover {
		color: var( --c-turquoise );
		svg path {
			fill: var( --c-turquoise );
		}
	}
}

select {
	padding: 16px 36px 16px 16px;
	font-size: 16px;
	line-height: 1.3;
	border: solid 1px #96ADC2;
	border-radius: 4px;
	width: 100%;
	color: var( --c-text );
	background: white url('../img/chevron-down.svg') no-repeat calc(100% - 16px) 23px;
	max-width: 363px;
	transition: all .2s ease-in-out;
	&:hover {
		border-color: var( --c-turquoise );
	}
	&:focus {
		border-color: var( --c-turquoise );
		box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
	}
}

label {
	display: block;
	font-size: 16px;
	margin-bottom: 8px;
	color: var( --c-neutral80 );
}

.select2-container {
	position: relative;
	.select2-selection--single {
		height: 52px;
		border: solid 1px #96ADC2;
		.select2-selection__rendered {
			line-height: 52px;
			padding-left: 16px;
			color: var( --c-text );
		}
		.select2-selection__arrow {
			height: 52px;
		}
	}
	.select2-dropdown {
		top: 30px;
		border: solid 1px #96ADC2;
		border-top: none;
		input {
			max-width: unset;
		}
		.select2-results__option {
			padding: 6px 16px;
		}
	}
}