/**
 * Typography
 *
 * @package WOOBIBOO
 * @since 2.0.0
 */

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;

  @include media-up(md) {
    font-size: 32px;
  }
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 15px;
}

h3,
h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

h5,
h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

p {
  margin-bottom: 15px;
}

strong {
  font-weight: 700;
}

a {
  color: var(--c-text);
  transition: color .2s ease-in-out;

  &:hover {
    color: var(--c-turquoise);
  }
}

img {
  display: block;
  width: 100%;
  height: auto;

}

.price {
  font-size: 21px;
  color: var(--c-turquoise);
  font-weight: 500;
  line-height: 1;
  display: inline-flex;

  @include media-up(md) {
    font-size: 23px;
  }

  del {
    order: 1;
    margin-left: 7.5px;
    color: var(--c-neutral40) !important;
  }
}

i.icon {
  display: inline-block;

  &.chevron-right:after {
    content: url("../img/chevron-right.svg");
  }
}