/**
 * Variables
 *
 * @package woobiboo
 * @since 3.0.0
 */

:root {
	// --c- for colors
	--c-pink       : #E7578E;
	--c-orange     : #F5A128;
	--c-purple     : #8A74B1;
	--c-turquoise  : #0BB2CD;
	--c-red        : #E31439;
	--c-gray       : #E7E7E7;
	--c-lightgray  : #FAFAFA;
	--c-green      : #1DB046;

	--c-text       : #023662;
	--c-neutral    : #355E81;
	--c-neutral80  : #355E81;
	--c-neutral65  : #5B7C99;
	--c-neutral40  : #96ADC2;
	--c-neutral30  : #D7DFE6;
	--c-neutral20  : #E6EBF0;
	--c-neutral10  : #F2F5F7;

	--f-primary   : 'Rubik', sans-serif;
}


// Breakpoints
$breakpoints: (
    xxs: 320px,
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1420px,
    2xl: 1640px,
    3xl: 1920px ) !default;


// Standard container	
$container-max-widths: (
	xxs: 100%,
	xs: 540px,
    sm: 720px,
    md: 980px, 
    lg: 1140px ) !default;