/**
 * Main
 *
 * @package woobiboo
 * @since 2.0.0
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1,
body.woocommerce_login_page #site-content .container h2, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, div, button {
  display: block;
  box-sizing: border-box;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
select,
textarea,
input[type=search],
input[type=text],
input[type=tel],
input[type=email],
input[type=password],
input[type=url] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background: transparent;
  overflow: auto;
  resize: none !important;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: none;
  text-decoration: none;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: none;
  text-decoration: none;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0;
  padding: 0;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* 2 */
  box-sizing: border-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-moz-selection {
  background: #001DAA;
  color: white;
  text-shadow: none;
  opacity: 1;
}

::selection {
  background: #001DAA;
  color: white;
  text-shadow: none;
  opacity: 1;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

/**
 * Variables
 *
 * @package woobiboo
 * @since 3.0.0
 */
:root {
  --c-pink: #E7578E;
  --c-orange: #F5A128;
  --c-purple: #8A74B1;
  --c-turquoise: #0BB2CD;
  --c-red: #E31439;
  --c-gray: #E7E7E7;
  --c-lightgray: #FAFAFA;
  --c-green: #1DB046;
  --c-text: #023662;
  --c-neutral: #355E81;
  --c-neutral80: #355E81;
  --c-neutral65: #5B7C99;
  --c-neutral40: #96ADC2;
  --c-neutral30: #D7DFE6;
  --c-neutral20: #E6EBF0;
  --c-neutral10: #F2F5F7;
  --f-primary: "Rubik", sans-serif;
}

/**
 * Mixins
 *
 * @package amberbody
 * @since 1.0.0
 */
/**
 * Base
 *
 * @package woobiboo
 * @since 2.0.0
 */
html,
body {
  background: var(--c-lightgray) url("../img/background.png");
  background-attachment: fixed;
  background-repeat: repeat;
  font-family: var(--f-primary);
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;
  color: var(--c-text);
}
@media (max-width: 991px) {
  html,
body {
    font-size: 16px;
  }
}

main {
  position: relative;
}

.container {
  display: block;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 320px) {
  .container {
    max-width: 100% !important;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 980px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

.woobiboo-border-decoration {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 2px;
}
@media (min-width: 768px) {
  .woobiboo-border-decoration {
    height: 4px;
  }
}
.woobiboo-border-decoration > span {
  flex-grow: 1;
}
.woobiboo-border-decoration > span:nth-of-type(1), .woobiboo-border-decoration > span:nth-of-type(5), .woobiboo-border-decoration > span:nth-of-type(9) {
  background: var(--c-turquoise);
}
.woobiboo-border-decoration > span:nth-of-type(2), .woobiboo-border-decoration > span:nth-of-type(6) {
  background: var(--c-purple);
}
.woobiboo-border-decoration > span:nth-of-type(3), .woobiboo-border-decoration > span:nth-of-type(7) {
  background: var(--c-pink);
}
.woobiboo-border-decoration > span:nth-of-type(4), .woobiboo-border-decoration > span:nth-of-type(8) {
  background: var(--c-orange);
}

main article {
  padding-top: 40px;
}
main article h1, main article body.woocommerce_login_page #site-content .container h2, body.woocommerce_login_page #site-content .container main article h2 {
  text-align: center;
  margin-bottom: 40px;
}

/**
 * Typography
 *
 * @package WOOBIBOO
 * @since 2.0.0
 */
h1, body.woocommerce_login_page #site-content .container h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
}
@media (min-width: 992px) {
  h1, body.woocommerce_login_page #site-content .container h2 {
    font-size: 32px;
  }
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 15px;
}

h3, h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

h5, h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

p {
  margin-bottom: 15px;
}

strong {
  font-weight: 700;
}

a {
  color: var(--c-text);
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: var(--c-turquoise);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.price {
  font-size: 21px;
  color: var(--c-turquoise);
  font-weight: 500;
  line-height: 1;
}
@media (min-width: 992px) {
  .price {
    font-size: 23px;
  }
}

i.icon {
  display: inline-block;
}
i.icon.chevron-right:after {
  content: url("../img/chevron-right.svg");
}

/**
 * Form elements
 *
 * @package WOOBIBOO
 * @since 3.0.0
 */
input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=tel],
input[type=url],
textarea {
  padding: 16px;
  font-size: 16px;
  line-height: 1.3;
  border: solid 1px #96ADC2;
  border-radius: 4px;
  width: 100%;
  color: var(--c-text);
  max-width: 363px;
  transition: all 0.2s ease-in-out;
  font-family: var(--f-primary);
  background: white;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder,
input[type=number]::placeholder,
input[type=tel]::placeholder,
input[type=url]::placeholder,
textarea::placeholder {
  color: var(--c-neutral65);
}
input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=number]:hover,
input[type=tel]:hover,
input[type=url]:hover,
textarea:hover {
  border-color: var(--c-turquoise);
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=url]:focus,
textarea:focus {
  border-color: var(--c-turquoise);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}
input[type=text]:disabled,
input[type=email]:disabled,
input[type=password]:disabled,
input[type=number]:disabled,
input[type=tel]:disabled,
input[type=url]:disabled,
textarea:disabled {
  background-color: #F4F4F4;
  border-color: #CFCFCF;
  color: var(--c-neutral65);
}

button:not(.button-text),
.button {
  display: inline-block;
  padding: 16px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--c-orange);
  border: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  max-width: 363px;
  transition: all 0.2s ease-in-out;
}
button:not(.button-text):hover,
.button:hover {
  color: white;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}
button:not(.button-text):disabled,
.button:disabled {
  background-color: var(--c-gray);
  box-shadow: none !important;
}

.button-text {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--c-neutral80);
  line-height: 24px;
  padding: 0;
  border: none;
  background: transparent;
  max-width: 363px;
  transition: color 0.2s ease-in-out;
}
.button-text svg {
  width: 15px;
  height: 15px;
  margin: 0 5px;
}
.button-text svg path {
  transition: all 0.2s ease-in-out;
  fill: var(--c-neutral80);
}
.button-text:hover {
  color: var(--c-turquoise);
}
.button-text:hover svg path {
  fill: var(--c-turquoise);
}

select {
  padding: 16px 36px 16px 16px;
  font-size: 16px;
  line-height: 1.3;
  border: solid 1px #96ADC2;
  border-radius: 4px;
  width: 100%;
  color: var(--c-text);
  background: white url("../img/chevron-down.svg") no-repeat calc(100% - 16px) 23px;
  max-width: 363px;
  transition: all 0.2s ease-in-out;
}
select:hover {
  border-color: var(--c-turquoise);
}
select:focus {
  border-color: var(--c-turquoise);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: var(--c-neutral80);
}

/* Menu */
.site-navigation {
  background: white;
  position: relative;
  z-index: 10;
}
.site-navigation__advantages {
  background-color: var(--c-neutral10);
  padding-top: 10px;
  padding-bottom: 10px;
}
.site-navigation__advantages .advantages {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.site-navigation__advantages .advantages .icon.icon-circle {
  display: inline-block;
  width: 4px;
  height: 4px;
  background: black;
  border-radius: 2px;
  transform: translateY(8px);
}
.site-navigation__advantages .advantages__item {
  font-size: 12px;
}
@media (min-width: 992px) {
  .site-navigation__advantages .advantages__item {
    font-size: 14px;
  }
}
.site-navigation__advantages .advantages__item svg {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  transform: translateY(2px);
}
@media (min-width: 992px) {
  .site-navigation__advantages .advantages__item svg {
    margin-right: 8px;
  }
}
.site-navigation__advantages .advantages__item:nth-of-type(1) + .icon.icon-circle {
  background-color: var(--c-purple);
}
@media (max-width: 767px) {
  .site-navigation__advantages .advantages__item:nth-of-type(1) + .icon.icon-circle {
    display: none;
  }
}
@media (max-width: 767px) {
  .site-navigation__advantages .advantages__item:nth-of-type(2) {
    display: none;
  }
}
.site-navigation__advantages .advantages__item:nth-of-type(2) + .icon.icon-circle {
  background-color: var(--c-pink);
}
@media (max-width: 991px) {
  .site-navigation__advantages .advantages__item:nth-of-type(2) + .icon.icon-circle {
    display: none;
  }
}
@media (max-width: 991px) {
  .site-navigation__advantages .advantages__item:nth-of-type(3) {
    display: none;
  }
}
.site-navigation__advantages .advantages__item:nth-of-type(3) + .icon.icon-circle {
  background-color: var(--c-orange);
}
@media (max-width: 1199px) {
  .site-navigation__advantages .advantages__item:nth-of-type(3) + .icon.icon-circle {
    display: none;
  }
}
@media (max-width: 1199px) {
  .site-navigation__advantages .advantages__item:nth-of-type(4) {
    display: none;
  }
}
.site-navigation__advantages .advantages__item:nth-of-type(4) + .icon.icon-circle {
  background-color: var(--c-turquoise);
}
@media (max-width: 767px) {
  .site-navigation__advantages .advantages__item:nth-of-type(4) + .icon.icon-circle {
    background-color: var(--c-neutral40);
  }
}
@media (max-width: 767px) {
  .site-navigation__advantages .advantages__item:nth-last-of-type(1) {
    color: var(--c-green);
  }
  .site-navigation__advantages .advantages__item:nth-last-of-type(1) svg > path {
    fill: var(--c-green);
  }
}
.site-navigation__advantages .advantages__item:nth-last-of-type(1) + .icon.icon-circle {
  display: none;
}
.site-navigation__primary .container {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 24px;
  padding-bottom: 24px;
}
.site-navigation__primary .container .custom-logo-link .custom-logo {
  height: 32px;
}
@media (min-width: 992px) {
  .site-navigation__primary .container .custom-logo-link .custom-logo {
    height: 40px;
  }
}
.site-navigation__primary .container__main {
  display: flex;
  flex-grow: 1;
}
.site-navigation__primary .container__main .primary__menu {
  flex-grow: 1;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 991px) {
  .site-navigation__primary .container__main .primary__menu {
    display: none;
  }
}
.site-navigation__primary .container__main .primary__menu .menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}
.site-navigation__primary .container__main .primary__menu .menu li {
  display: inline-flex;
}
.site-navigation__primary .container__main .primary__menu .menu li:not(:last-child) {
  margin-right: 24px;
}
@media (min-width: 1200px) {
  .site-navigation__primary .container__main .primary__menu .menu li:not(:last-child) {
    margin-right: 40px;
  }
}
.site-navigation__primary .container__main .primary__menu .menu li a {
  font-size: 23px;
}
.site-navigation__primary .container__main .primary__menu .menu li a[aria-current=page] {
  text-decoration: underline;
}
.site-navigation__primary .container .quick__menu {
  display: flex;
  flex-wrap: nowrap;
}
.site-navigation__primary .container .quick__menu .item {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.site-navigation__primary .container .quick__menu .item:not(:last-of-type) {
  margin-right: 24px;
}
@media (min-width: 1200px) {
  .site-navigation__primary .container .quick__menu .item:not(:last-of-type) {
    margin-right: 40px;
  }
}

/* Footer */
.site-footer {
  margin-top: 40px;
  background-color: white;
}
@media (min-width: 992px) {
  .site-footer {
    margin-top: 80px;
  }
}
.site-footer__navigation {
  display: flex;
  flex-flow: row wrap;
  margin-top: 40px;
  margin-bottom: 8px;
}
.site-footer__navigation .widget {
  flex: 0 0 100%;
  padding-right: 15px;
  margin-bottom: 16px;
}
@media (min-width: 320px) {
  .site-footer__navigation .widget {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .site-footer__navigation .widget {
    flex-basis: 25%;
  }
}
.site-footer__navigation .widget h4 {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 16px;
}
.site-footer__navigation .widget ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.site-footer__navigation .widget ul li {
  margin-bottom: 16px;
}
.site-footer__navigation .widget input {
  margin-bottom: 16px;
}
.site-footer__navigation .widget:nth-of-type(1) h4 {
  color: var(--c-turquoise);
}
.site-footer__navigation .widget:nth-of-type(2) h4 {
  color: var(--c-purple);
}
.site-footer__navigation .widget:nth-of-type(3) h4 {
  color: var(--c-pink);
}
.site-footer__navigation .widget:nth-of-type(4) h4 {
  color: var(--c-orange);
}
@media (min-width: 992px) {
  .site-footer .language__switcher__wrapper {
    max-width: 363px;
  }
}
.site-footer .language__switcher__wrapper select {
  max-width: unset;
}
.site-footer__decoration {
  max-width: 1440px;
  margin: 40px auto 0;
}
@media (max-width: 767px) {
  .site-footer__decoration {
    display: none;
  }
}

/**
 * Breadcrumbs
 *
 * @package WOOBIBOO
 * @author Inspire Labs - Mateusz Major
 * @since 3.0.0
 */
.woocommerce-breadcrumb {
  font-size: 14px;
  margin-top: 24px;
  z-index: 2;
  position: relative;
}
@media (max-width: 767px) {
  .woocommerce-breadcrumb {
    display: none;
  }
}
.woocommerce-breadcrumb a {
  text-decoration: underline;
}
.woocommerce-breadcrumb .icon {
  margin-left: 12px;
  margin-right: 12px;
  transform: translateY(2px);
}
.woocommerce-breadcrumb .icon:after {
  width: 9px;
  height: 14px;
}

/**
 * Notices
 *
 * @package woobiboo
 * @since 3.0.0
 */
.woocommerce-notices-wrapper {
  flex-grow: 1;
  position: relative;
  z-index: 2;
}
.woocommerce-notices-wrapper .woocommerce-message,
.woocommerce-notices-wrapper .woocommerce-error {
  list-style-type: none;
  background-color: var(--c-neutral10);
  padding: 16px;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.woocommerce-notices-wrapper .woocommerce-message:not(:last-of-type),
.woocommerce-notices-wrapper .woocommerce-error:not(:last-of-type) {
  margin-bottom: 8px;
}
.woocommerce-notices-wrapper .woocommerce-message > li:not(:last-child),
.woocommerce-notices-wrapper .woocommerce-error > li:not(:last-child) {
  margin-bottom: 8px;
}
.woocommerce-notices-wrapper .woocommerce-message .restore-item,
.woocommerce-notices-wrapper .woocommerce-error .restore-item {
  float: right;
  margin-left: 20px;
}
.woocommerce-notices-wrapper .woocommerce-message .button.wc-forward,
.woocommerce-notices-wrapper .woocommerce-error .button.wc-forward {
  padding: 12px;
  display: inline-block;
  width: unset;
  margin-right: 10px;
}

/**
 * Notices
 *
 * @package woobiboo
 * @since 3.0.0
 */
body.woocommerce_login_page #site-content:before, body.woocommerce_login_page #site-content:after {
  display: block;
  content: "";
  width: calc((100vw - 600px) / 2);
  height: calc(100% + 80px);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  margin-bottom: -80px;
}
body.woocommerce_login_page #site-content:before {
  left: 0;
  background-image: url("../img/login-left.svg");
  background-position: bottom left;
}
@media (max-width: 991px) {
  body.woocommerce_login_page #site-content:before {
    display: none;
  }
}
body.woocommerce_login_page #site-content:after {
  right: 0;
  background-image: url("../img/login-right.svg");
  background-position: bottom right;
}
@media (max-width: 991px) {
  body.woocommerce_login_page #site-content:after {
    display: flex;
    position: relative;
    padding-top: 40%;
    background-image: url("../img/login-bottom.svg");
    background-position: center bottom;
    background-size: contain;
    width: 100%;
    max-width: 560px !important;
    margin: 40px auto -40px;
  }
}
body.woocommerce_login_page #site-content .container {
  background-color: white;
  max-width: 560px !important;
  margin: 0px auto;
  padding: 24px 16px;
  border: solid 1px var(--c-neutral30);
}
@media (min-width: 992px) {
  body.woocommerce_login_page #site-content .container {
    margin: 70px auto;
    border-radius: 4px;
    padding: 40px 80px;
  }
}
body.woocommerce_login_page #site-content .container h2 {
  text-align: center;
  margin-bottom: 30px;
}
body.woocommerce_login_page #site-content .container p {
  margin-bottom: 24px;
}
body.woocommerce_login_page #site-content .container input[type=text],
body.woocommerce_login_page #site-content .container input[type=password],
body.woocommerce_login_page #site-content .container input[type=email],
body.woocommerce_login_page #site-content .container button {
  width: 100%;
  max-width: unset;
}
body.woocommerce_login_page #site-content .container .form-row:not(.woocommerce-form-row) {
  display: flex;
  margin-bottom: 0;
}
body.woocommerce_login_page #site-content .container .form-row:not(.woocommerce-form-row) .woocommerce-form-login__rememberme {
  flex: 0 0 50%;
  display: flex;
  margin-bottom: 0;
  justify-content: flex-start;
  align-items: center;
}
body.woocommerce_login_page #site-content .container .form-row:not(.woocommerce-form-row) .woocommerce-form-login__rememberme #rememberme {
  margin-right: 5px;
}
body.woocommerce_login_page #site-content .container .form-row:not(.woocommerce-form-row) button {
  flex: 0 0 50%;
}
body.woocommerce_login_page #site-content .container .woocommerce-LostPassword {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: solid 1px var(--c-neutral30);
  border-bottom: solid 1px var(--c-neutral30);
}
body.woocommerce_login_page #site-content .container .woocommerce-LostPassword > a {
  font-size: 16px;
  text-decoration: underline;
  color: var(--c-neutral80);
}
body.woocommerce_login_page .u-column2 {
  display: none;
}

.page-id-1557 .elementor-1557 {
  background: #ffd2dc url("/wp-content/uploads/2020/04/pattern.png");
}

body.woocommerce-cart .woocommerce {
  display: flex;
  flex-flow: column wrap;
}
@media (min-width: 768px) {
  body.woocommerce-cart .woocommerce {
    flex-flow: row nowrap;
  }
}
body.woocommerce-cart .woocommerce .woocommerce-notices-wrapper {
  display: none;
}
body.woocommerce-cart .woocommerce .cart-empty,
body.woocommerce-cart .woocommerce .return-to-shop {
  flex: 1 0 100%;
  text-align: center;
}
body.woocommerce-cart .woocommerce .cart {
  background: white;
  padding: 15px;
  border-radius: 8px;
  border: solid 1px var(--c-neutral30);
  flex: 0 0 100%;
  margin-bottom: 8px;
}
@media (max-width: 575px) {
  body.woocommerce-cart .woocommerce .cart {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0px;
  }
}
@media (min-width: 768px) {
  body.woocommerce-cart .woocommerce .cart {
    flex-basis: 100%;
    padding: 24px;
  }
}
body.woocommerce-cart .woocommerce .cart__item {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 64px 80px 80px auto;
}
@media (min-width: 992px) {
  body.woocommerce-cart .woocommerce .cart__item {
    grid-template-columns: 120px 1fr auto;
  }
}
body.woocommerce-cart .woocommerce .cart__item:not(:last-of-type) {
  padding-bottom: 24px;
  border-bottom: solid 1px var(--c-neutral30);
  margin-bottom: 24px;
}
body.woocommerce-cart .woocommerce .cart__item .product-remove {
  order: 3;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  body.woocommerce-cart .woocommerce .cart__item .product-remove {
    justify-content: flex-start;
    order: 2;
  }
}
body.woocommerce-cart .woocommerce .cart__item .product-remove .remove {
  display: inline-block;
  font-size: 14px;
  color: var(--c-neutral65);
  white-space: nowrap;
  overflow: hidden;
  width: 20px;
  height: 20px;
}
@media (min-width: 992px) {
  body.woocommerce-cart .woocommerce .cart__item .product-remove .remove {
    width: unset;
    height: unset;
  }
}
body.woocommerce-cart .woocommerce .cart__item .product-remove .remove:before {
  content: "";
  display: inline-block;
  margin-right: 3px;
  background: var(--c-neutral65);
  width: 16px;
  height: 16px;
  mask-image: url("../img/trash.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  transform: translateY(2px);
  transition: all 0.2s ease-in-out;
}
body.woocommerce-cart .woocommerce .cart__item .product-remove .remove:hover {
  color: var(--c-turquoise);
}
body.woocommerce-cart .woocommerce .cart__item .product-remove .remove:hover:before {
  background: var(--c-turquoise);
}
body.woocommerce-cart .woocommerce .cart__item .product-thumbnail {
  order: 0;
  grid-row: span 2;
}
body.woocommerce-cart .woocommerce .cart__item .product-name {
  order: 1;
  hight: 100%;
  padding: 0 0 0 15px;
  background-color: transparent;
  grid-column: span 3;
}
@media (min-width: 992px) {
  body.woocommerce-cart .woocommerce .cart__item .product-name {
    padding: 0 24px 18px;
    grid-column: unset;
    min-height: 100px;
  }
}
body.woocommerce-cart .woocommerce .cart__item .product-name h3 {
  margin-bottom: 8px;
}
body.woocommerce-cart .woocommerce .cart__item .product-name .variation {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: 14px;
  color: var(--c-neutral65);
  margin-bottom: 8px;
}
body.woocommerce-cart .woocommerce .cart__item .product-name .variation dt {
  padding-right: 10px;
}
body.woocommerce-cart .woocommerce .cart__item .product-name .variation p {
  margin-bottom: 0;
}
body.woocommerce-cart .woocommerce .cart__item .product-quantity {
  order: 2;
  padding-left: 15px;
}
@media (min-width: 992px) {
  body.woocommerce-cart .woocommerce .cart__item .product-quantity {
    order: 3;
    padding-left: 0px;
  }
}
body.woocommerce-cart .woocommerce .cart__item .product-quantity .qty {
  padding: 7px 16px;
  width: 80px;
  box-sizing: border-box;
}
body.woocommerce-cart .woocommerce .cart__item .product-subtotal {
  order: 4;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (min-width: 992px) {
  body.woocommerce-cart .woocommerce .cart__item .product-subtotal {
    text-align: center;
  }
}
body.woocommerce-cart .woocommerce .cart-collaterals {
  flex-grow: 1;
}
@media (min-width: 768px) {
  body.woocommerce-cart .woocommerce .cart-collaterals {
    padding-left: 8px;
    min-width: 300px;
  }
}
@media (min-width: 992px) {
  body.woocommerce-cart .woocommerce .cart-collaterals {
    padding-left: 30px;
    min-width: 393px;
  }
}
@media (min-width: 768px) {
  body.woocommerce-cart .woocommerce .cart-collaterals-wrapper {
    position: sticky;
    top: 30px;
  }
}
body.woocommerce-cart .woocommerce .cart-collaterals-wrapper .cart_totals {
  background: white;
  padding: 16px;
  border-radius: 8px;
  border: solid 2px var(--c-neutral30);
}
@media (min-width: 992px) {
  body.woocommerce-cart .woocommerce .cart-collaterals-wrapper .cart_totals {
    padding: 24px;
  }
}
body.woocommerce-cart .woocommerce .cart-collaterals-wrapper .cart_totals_price {
  margin-bottom: 15px;
  font-size: 23px;
  display: flex;
  justify-content: space-between;
}
body.woocommerce-cart .woocommerce .cart-collaterals-wrapper .cart_totals .checkout-button {
  max-width: unset;
}
body.woocommerce-cart .woocommerce .cart-collaterals-wrapper .why-us {
  margin-top: 8px;
  background-color: var(--c-neutral10);
  padding: 16px;
  border-radius: 4px;
  border: solid 1px var(--c-neutral30);
}
@media (min-width: 992px) {
  body.woocommerce-cart .woocommerce .cart-collaterals-wrapper .why-us {
    margin-top: 24px;
    padding: 24px;
  }
}
body.woocommerce-cart .woocommerce .cart-collaterals-wrapper .why-us .list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}
body.woocommerce-cart .woocommerce .cart-collaterals-wrapper .why-us .list__item {
  display: flex;
}
body.woocommerce-cart .woocommerce .cart-collaterals-wrapper .why-us .list__item img {
  display: block;
  width: 16px;
  height: 16px;
  object-fit: contain;
  margin-right: 10px;
  transform: translateY(1px);
}
body.woocommerce-cart .woocommerce .cart-collaterals-wrapper .why-us .list__item:not(:last-child) {
  margin-bottom: 16px;
}

.page-id-1541 .elementor-1541 {
  margin-top: 40px;
}

.elementor-1028,
.elementor-16,
.elementor-873,
.elementor-878,
.elementor-881,
.elementor-2467 {
  margin-top: 40px;
}
.elementor-1028 .raven-nav-menu,
.elementor-16 .raven-nav-menu,
.elementor-873 .raven-nav-menu,
.elementor-878 .raven-nav-menu,
.elementor-881 .raven-nav-menu,
.elementor-2467 .raven-nav-menu {
  margin: 0;
  padding: 0;
}
.elementor-1028 .raven-nav-menu li,
.elementor-16 .raven-nav-menu li,
.elementor-873 .raven-nav-menu li,
.elementor-878 .raven-nav-menu li,
.elementor-881 .raven-nav-menu li,
.elementor-2467 .raven-nav-menu li {
  display: block;
  width: 100%;
}
.elementor-1028 .raven-nav-menu li a,
.elementor-16 .raven-nav-menu li a,
.elementor-873 .raven-nav-menu li a,
.elementor-878 .raven-nav-menu li a,
.elementor-881 .raven-nav-menu li a,
.elementor-2467 .raven-nav-menu li a {
  display: block;
  padding: 5px 10px !important;
}
.elementor-1028 .elementor-accordion .elementor-accordion-item,
.elementor-16 .elementor-accordion .elementor-accordion-item,
.elementor-873 .elementor-accordion .elementor-accordion-item,
.elementor-878 .elementor-accordion .elementor-accordion-item,
.elementor-881 .elementor-accordion .elementor-accordion-item,
.elementor-2467 .elementor-accordion .elementor-accordion-item {
  border: none;
}

/**
 * Single product
 *
 * @package woobiboo
 * @since 3.0.0
 */
body.archive .woocommerce-products-header .page-title {
  margin-top: 40px;
}
body.archive .woocommerce-products-header .term-description {
  margin-top: 15px;
  margin-bottom: 15px;
}
body.archive .woocommerce-ordering {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  background: red !important;
}
body.archive .woocommerce-ordering select {
  max-width: unset;
}
@media (min-width: 992px) {
  body.archive .woocommerce-ordering select {
    max-width: 285px;
  }
}
body.archive .category-long-description {
  margin-top: 40px;
  position: relative;
  padding-bottom: 30px;
}
body.archive .category-long-description .content {
  display: block;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0, black 150px);
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0, black 150px);
  -webkit-mask-size: 100% 250px;
  mask-size: 100% 250px;
  mask-position: top;
  -webkit-mask-position: top;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  max-height: 250px;
  overflow: hidden;
}
body.archive .category-long-description button {
  position: absolute;
  bottom: -5px;
}
body.archive .category-long-description.show-more {
  padding-bottom: 0px;
}
body.archive .category-long-description.show-more .content {
  max-height: unset;
  mask-image: none;
  -webkit-mask-image: unset;
}
body.archive .category-long-description.show-more button {
  display: none;
}

/**
 * Product loop
 *
 * @package woobiboo
 * @since 3.0.0
 */
ul.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 576px) {
  ul.products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  ul.products {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
}
ul.products.columns-1 {
  grid-template-columns: repeat(1, 1fr);
}
ul.products.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}
ul.products.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 1200px) {
  ul.products.columns-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 1200px) {
  ul.products.columns-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
ul.products > li a {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  background: white;
  padding: 24px;
  border-radius: 8px;
  border: solid 1px var(--c-neutral30);
  height: 100%;
  position: relative;
  transition: border-color 0.2s ease-in-out;
}
ul.products > li a .onsale {
  color: var(--c-orange);
  text-transform: uppercase;
  font-size: 12px;
  position: absolute;
  top: 12px;
}
ul.products > li a picture {
  position: relative;
  margin: -24px -24px 24px -24px;
  padding-top: 120%;
  border-radius: 4px 4px 0 0;
}
ul.products > li a picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}
ul.products > li a h2 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}
@media (min-width: 992px) {
  ul.products > li a h2 {
    font-size: 16px;
  }
}
ul.products > li a .price {
  margin-top: auto;
  margin-right: auto;
  align-self: flex-end;
}
ul.products > li a:hover {
  border: solid 1px var(--c-turquoise);
}

/**
 * Single product
 *
 * @package woobiboo
 * @since 3.0.0
 */
body.single-product {
  background-color: var(--c-lightgray);
}
body.single-product .woocommerce-products {
  padding: 0;
}
body.single-product .woocommerce-products .product {
  display: flex;
  flex-flow: row wrap;
}
@media (min-width: 992px) {
  body.single-product .woocommerce-products .product {
    flex-flow: row nowrap;
  }
}
body.single-product .woocommerce-products .product__details {
  flex: 0 0 100%;
}
@media (max-width: 767px) {
  body.single-product .woocommerce-products .product__details {
    padding-top: 0;
  }
}
@media (min-width: 992px) {
  body.single-product .woocommerce-products .product__details {
    flex-basis: 66%;
  }
}
body.single-product .woocommerce-products .product__details .images {
  width: 100vw;
}
@media (min-width: 576px) {
  body.single-product .woocommerce-products .product__details .images {
    width: calc(540px - 30px);
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  body.single-product .woocommerce-products .product__details .images {
    width: calc(720px - 30px);
  }
}
@media (min-width: 992px) {
  body.single-product .woocommerce-products .product__details .images {
    width: 600px;
  }
}
body.single-product .woocommerce-products .product__details .images .slider .slick-arrow {
  opacity: 1;
  height: 80px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-neutral10) !important;
  border: solid 1px var(--c-neutral30);
  transition: all 0.2s ease-in-out;
}
body.single-product .woocommerce-products .product__details .images .slider .slick-arrow:before {
  color: var(--c-turquoise);
  transition: all 0.2s ease-in-out;
}
body.single-product .woocommerce-products .product__details .images .slider .slick-arrow.btn-prev {
  margin-left: 0 !important;
}
body.single-product .woocommerce-products .product__details .images .slider .slick-arrow.btn-next {
  margin-right: 0 !important;
}
body.single-product .woocommerce-products .product__details .images .slider .slick-arrow.slick-disabled {
  background-color: var(--c-gray);
  border: transparent;
}
body.single-product .woocommerce-products .product__details .images .slider .slick-arrow.slick-disabled:before {
  color: white;
}
body.single-product .woocommerce-products .product__details .images .slider .slick-list .slick-track .slick-slide {
  height: 100%;
}
body.single-product .woocommerce-products .product__details .images .slider .slick-list .slick-track .slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
body.single-product .woocommerce-products .product__details .images #wpgis-gallery {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  body.single-product .woocommerce-products .product__details .images #wpgis-gallery {
    display: none;
  }
}
body.single-product .woocommerce-products .product__details .images #wpgis-gallery .slick-list .slick-track .slick-slide {
  border: solid 1px transparent;
  border-radius: 4px;
  margin-right: 10px;
  padding: 10px;
}
body.single-product .woocommerce-products .product__details .images #wpgis-gallery .slick-list .slick-track .slick-slide .attachment-thumbnail {
  width: 120px;
  height: 120px;
  object-fit: contain;
}
body.single-product .woocommerce-products .product__details .images #wpgis-gallery .slick-list .slick-track .slick-slide.slick-current {
  border-color: var(--c-neutral40);
}
body.single-product .woocommerce-products .product__details__gallery {
  position: relative;
  margin-bottom: 40px;
  z-index: 0;
}
body.single-product .woocommerce-products .product__details__gallery .woocommerce-product-gallery {
  float: none !important;
  width: 100% !important;
  position: relative;
}
body.single-product .woocommerce-products .product__details__gallery:before {
  display: block;
  content: "";
  background-color: white;
  width: 100vw;
  height: calc(100% + 500px);
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid #D7DFE6;
  z-index: -1;
  left: 0;
}
@media (min-width: 576px) {
  body.single-product .woocommerce-products .product__details__gallery:before {
    left: calc(((-1 * 100vw) / 2) + (540px / 2) );
  }
}
@media (min-width: 768px) {
  body.single-product .woocommerce-products .product__details__gallery:before {
    left: calc(((-1 * 100vw) / 2) + (720px / 2));
  }
}
@media (min-width: 992px) {
  body.single-product .woocommerce-products .product__details__gallery:before {
    left: calc(((-1 * 100vw) / 2) + (980px / 2));
  }
}
@media (min-width: 1200px) {
  body.single-product .woocommerce-products .product__details__gallery:before {
    left: calc(((-1 * 100vw) / 2) + (1140px / 2));
  }
}
body.single-product .woocommerce-products .product__details__wrapper {
  background-color: white;
  border: 1px solid #D7DFE6;
  box-sizing: border-box;
  padding: 15px;
}
@media (min-width: 576px) {
  body.single-product .woocommerce-products .product__details__wrapper {
    border-radius: 8px;
  }
}
@media (min-width: 992px) {
  body.single-product .woocommerce-products .product__details__wrapper {
    padding: 20px 50px;
  }
}
@media (min-width: 1200px) {
  body.single-product .woocommerce-products .product__details__wrapper {
    padding: 40px 100px;
  }
}
body.single-product .woocommerce-products .product__details__wrapper .section {
  margin-bottom: 40px;
}
body.single-product .woocommerce-products .product__details__wrapper .section h2 {
  display: block;
  padding-bottom: 16px;
  border-bottom: solid 1px var(--c-neutral40);
}
body.single-product .woocommerce-products .product__details__wrapper .section--specification .list {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 16px;
}
body.single-product .woocommerce-products .product__details__wrapper .section--specification .list__item-name {
  color: var(--c-neutral80);
  padding-right: 60px;
}
body.single-product .woocommerce-products .product__details__wrapper .section--colors .list {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 16px;
  grid-row-gap: 8px;
}
body.single-product .woocommerce-products .product__details__wrapper .section--colors .list__name {
  padding-right: 52px;
  white-space: nowrap;
}
body.single-product .woocommerce-products .product__details__wrapper .section--colors .list__colors {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: flex-end;
}
body.single-product .woocommerce-products .product__details__wrapper .section--colors .list__colors .item {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: end;
  margin-left: 8px;
  margin-bottom: 8px;
}
body.single-product .woocommerce-products .product__details__wrapper .section--includes ul {
  padding-left: 16px;
}
body.single-product .woocommerce-products .product__summary {
  flex-grow: 1;
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  body.single-product .woocommerce-products .product__summary {
    min-width: 350px;
    padding-left: 30px;
  }
}
@media (min-width: 1200px) {
  body.single-product .woocommerce-products .product__summary {
    min-width: 393px;
  }
}
@media (min-width: 992px) {
  body.single-product .woocommerce-products .product__summary__sticky {
    position: sticky;
    top: 30px;
  }
}
@media (max-width: 767px) {
  body.single-product .woocommerce-products .product__summary__sticky button,
body.single-product .woocommerce-products .product__summary__sticky select {
    max-width: unset;
  }
}
body.single-product .woocommerce-products .product__summary__sticky .price {
  font-size: 32px;
  margin-top: 5px;
}
body.single-product .woocommerce-products .product__summary__sticky .why-us {
  margin-top: 24px;
  background-color: var(--c-neutral10);
  padding: 24px;
  border-radius: 4px;
  border: solid 1px var(--c-neutral30);
}
body.single-product .woocommerce-products .product__summary__sticky .why-us .list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}
body.single-product .woocommerce-products .product__summary__sticky .why-us .list__item {
  display: flex;
}
body.single-product .woocommerce-products .product__summary__sticky .why-us .list__item img {
  display: block;
  width: 16px;
  height: 16px;
  object-fit: contain;
  margin-right: 10px;
  transform: translateY(1px);
}
body.single-product .woocommerce-products .product__summary__sticky .why-us .list__item:not(:last-child) {
  margin-bottom: 16px;
}
body.single-product .woocommerce-products .related.products {
  margin-top: 60px;
}
@media (max-width: 575px) {
  body.single-product .woocommerce-products .related.products {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/**
 * Product variations
 *
 * @package woobiboo
 * @since 3.0.0
 */
.product__summary .variations {
  margin-top: 16px;
  margin-bottom: 16px;
}
.product__summary .variations__single {
  margin-bottom: 16px;
}
.product__summary .fpf-field {
  margin-bottom: 16px;
}
.product__summary .fpf-checkbox .checkbox {
  background-color: white;
  border: solid 1px var(--c-neutral40);
  padding: 16px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.product__summary .fpf-checkbox .checkbox:hover {
  border-color: var(--c-turquoise);
}
.product__summary .fpf-totals > dl {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 8px;
}
.product__summary .fpf-totals > dl > dt,
.product__summary .fpf-totals > dl > dd {
  float: none;
  width: unset;
}
.product__summary #fpf_9882327_field legend,
.product__summary #fpf_4913109_field legend,
.product__summary #fpf_8567575_field legend {
  margin-bottom: 10px;
}
.product__summary #fpf_9882327_field .radio,
.product__summary #fpf_4913109_field .radio,
.product__summary #fpf_8567575_field .radio {
  border: solid 1px var(--c-neutral40);
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-flow: column nowrap;
  position: relative;
  padding: 5px;
  transition: all 0.2s ease-in-out;
  width: 66px;
  margin: 3px;
}
.product__summary #fpf_9882327_field .radio:hover,
.product__summary #fpf_4913109_field .radio:hover,
.product__summary #fpf_8567575_field .radio:hover {
  border-color: var(--c-turquoise);
}
.product__summary #fpf_9882327_field .radio .circle-name,
.product__summary #fpf_4913109_field .radio .circle-name,
.product__summary #fpf_8567575_field .radio .circle-name {
  display: none;
}
.product__summary #fpf_9882327_field .radio .circle-color,
.product__summary #fpf_4913109_field .radio .circle-color,
.product__summary #fpf_8567575_field .radio .circle-color {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px auto 0;
}
.product__summary #fpf_9882327_field .radio .circle-color.szary,
.product__summary #fpf_4913109_field .radio .circle-color.szary,
.product__summary #fpf_8567575_field .radio .circle-color.szary {
  background: #d1cecf;
}
.product__summary #fpf_9882327_field .radio .circle-color.ndrewno,
.product__summary #fpf_4913109_field .radio .circle-color.ndrewno,
.product__summary #fpf_8567575_field .radio .circle-color.ndrewno {
  background: #e5ceb3;
}
.product__summary #fpf_9882327_field .radio .circle-color.bialy,
.product__summary #fpf_4913109_field .radio .circle-color.bialy,
.product__summary #fpf_8567575_field .radio .circle-color.bialy {
  background: #fff;
}
.product__summary #fpf_9882327_field .radio .circle-color.fioletowy,
.product__summary #fpf_4913109_field .radio .circle-color.fioletowy,
.product__summary #fpf_8567575_field .radio .circle-color.fioletowy {
  background: #cec9e6;
}
.product__summary #fpf_9882327_field .radio .circle-color.mietowy,
.product__summary #fpf_4913109_field .radio .circle-color.mietowy,
.product__summary #fpf_8567575_field .radio .circle-color.mietowy {
  background: #cbf7ef;
}
.product__summary #fpf_9882327_field .radio .circle-color.blekitny,
.product__summary #fpf_4913109_field .radio .circle-color.blekitny,
.product__summary #fpf_8567575_field .radio .circle-color.blekitny {
  background: #a5d9ec;
}
.product__summary #fpf_9882327_field .radio .circle-color.turkusowy,
.product__summary #fpf_4913109_field .radio .circle-color.turkusowy,
.product__summary #fpf_8567575_field .radio .circle-color.turkusowy {
  background: #83c7ce;
}
.product__summary #fpf_9882327_field .radio .circle-color.czarny,
.product__summary #fpf_4913109_field .radio .circle-color.czarny,
.product__summary #fpf_8567575_field .radio .circle-color.czarny {
  background: #5b656f;
}
.product__summary #fpf_9882327_field .radio .circle-color.rozowy,
.product__summary #fpf_4913109_field .radio .circle-color.rozowy,
.product__summary #fpf_8567575_field .radio .circle-color.rozowy {
  background: #f0bad1;
}
.product__summary #fpf_9882327_field .radio .circle-color.zolty,
.product__summary #fpf_4913109_field .radio .circle-color.zolty,
.product__summary #fpf_8567575_field .radio .circle-color.zolty {
  background: #ffe683;
}
.product__summary #fpf_9882327_field .radio .circle-color.pomaranczowy,
.product__summary #fpf_4913109_field .radio .circle-color.pomaranczowy,
.product__summary #fpf_8567575_field .radio .circle-color.pomaranczowy {
  background: #fdc9b4;
}
.product__summary #fpf_9882327_field .radio .circle-color.limonkowy,
.product__summary #fpf_4913109_field .radio .circle-color.limonkowy,
.product__summary #fpf_8567575_field .radio .circle-color.limonkowy {
  background: #e0e99b;
}
.product__summary #fpf_9882327_field .radio .circle-color.zielony,
.product__summary #fpf_4913109_field .radio .circle-color.zielony,
.product__summary #fpf_8567575_field .radio .circle-color.zielony {
  background: #aee5b9;
}
.product__summary #fpf_9882327_field .radio .circle-color.lesnozielony,
.product__summary #fpf_4913109_field .radio .circle-color.lesnozielony,
.product__summary #fpf_8567575_field .radio .circle-color.lesnozielony {
  background: #5fa361;
}
.product__summary #fpf_9882327_field .radio .circle-color.granatowy,
.product__summary #fpf_4913109_field .radio .circle-color.granatowy,
.product__summary #fpf_8567575_field .radio .circle-color.granatowy {
  background: #193456;
}
.product__summary #fpf_9882327_field .radio .circle-color.butelkowazielen,
.product__summary #fpf_4913109_field .radio .circle-color.butelkowazielen,
.product__summary #fpf_8567575_field .radio .circle-color.butelkowazielen {
  background: #015a41;
}
.product__summary #fpf_9882327_field .radio input[type=radio],
.product__summary #fpf_4913109_field .radio input[type=radio],
.product__summary #fpf_8567575_field .radio input[type=radio] {
  margin: 0 auto;
}
.product__summary #fpf_3246443_field,
.product__summary #fpf_4849614_field,
.product__summary #fpf_9254158_field {
  font-weight: 400;
  font-size: 18px;
}
.product__summary .fpf-heading + .fpf-checkbox,
.product__summary .fpf-checkbox + .fpf-checkbox {
  display: inline-block;
  width: 66px;
  margin: 0px;
  margin-bottom: 6px;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row {
  margin-bottom: 0;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row .checkbox,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row .checkbox {
  border: solid 1px var(--c-neutral40);
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-flow: column nowrap;
  position: relative;
  padding: 5px;
  width: 100%;
  transition: all 0.2s ease-in-out;
  margin: 0;
  height: 66px;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row .checkbox input[type=checkbox],
.product__summary .fpf-checkbox + .fpf-checkbox .form-row .checkbox input[type=checkbox] {
  margin: 0 auto;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row .checkbox .admin-name,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row .checkbox .admin-name {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px auto 0;
  overflow: hidden;
  position: absolute;
  background: red;
  bottom: 5px;
  left: calc(50% - 15px);
  color: transparent;
  pointer-events: none;
  font-size: 0;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row .checkbox .name-checkbox,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row .checkbox .name-checkbox {
  display: none;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row .checkbox:hover,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row .checkbox:hover {
  border-color: var(--c-turquoise);
}
.product__summary .fpf-heading + .fpf-checkbox .form-row.szary-checkbox .checkbox .admin-name,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row.szary-checkbox .checkbox .admin-name {
  background: #d1cecf;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row.ndrewno-checkbox .checkbox .admin-name,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row.ndrewno-checkbox .checkbox .admin-name {
  background: #e5ceb3;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row.bialy-checkbox .checkbox .admin-name,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row.bialy-checkbox .checkbox .admin-name {
  background: #fff;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row.fioletowy-checkbox .checkbox .admin-name,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row.fioletowy-checkbox .checkbox .admin-name {
  background: #cec9e6;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row.mietowy-checkbox .checkbox .admin-name,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row.mietowy-checkbox .checkbox .admin-name {
  background: #cbf7ef;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row.blekitny-checkbox .checkbox .admin-name,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row.blekitny-checkbox .checkbox .admin-name {
  background: #a5d9ec;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row.turkusowy-checkbox .checkbox .admin-name,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row.turkusowy-checkbox .checkbox .admin-name {
  background: #83c7ce;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row.czarny-checkbox .checkbox .admin-name,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row.czarny-checkbox .checkbox .admin-name {
  background: #5b656f;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row.rozowy-checkbox .checkbox .admin-name,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row.rozowy-checkbox .checkbox .admin-name {
  background: #f0bad1;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row.zolty-checkbox .checkbox .admin-name,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row.zolty-checkbox .checkbox .admin-name {
  background: #ffe683;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row.pomaranczowy-checkbox .checkbox .admin-name,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row.pomaranczowy-checkbox .checkbox .admin-name {
  background: #fdc9b4;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row.limonkowy-checkbox .checkbox .admin-name,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row.limonkowy-checkbox .checkbox .admin-name {
  background: #e0e99b;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row.zielony-checkbox .checkbox .admin-name,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row.zielony-checkbox .checkbox .admin-name {
  background: #aee5b9;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row.lesnozielony-checkbox .checkbox .admin-name,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row.lesnozielony-checkbox .checkbox .admin-name {
  background: #5fa361;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row.granatowy-checkbox .checkbox .admin-name,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row.granatowy-checkbox .checkbox .admin-name {
  background: #193456;
}
.product__summary .fpf-heading + .fpf-checkbox .form-row.butelkowazielen-checkbox .checkbox .admin-name,
.product__summary .fpf-checkbox + .fpf-checkbox .form-row.butelkowazielen-checkbox .checkbox .admin-name {
  background: #015a41;
}
.product__summary #fpf_3412545_field,
.product__summary #fpf_6335369_field,
.product__summary #fpf_6079070_field {
  display: none;
}
.product__summary #fpf_2999821_field,
.product__summary #fpf_9073068_field,
.product__summary #fpf_9884569_field,
.product__summary #fpf_6172686_field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.product__summary #fpf_2999821_field legend,
.product__summary #fpf_9073068_field legend,
.product__summary #fpf_9884569_field legend,
.product__summary #fpf_6172686_field legend {
  margin-bottom: 10px;
}
.product__summary #fpf_2999821_field .radio,
.product__summary #fpf_9073068_field .radio,
.product__summary #fpf_9884569_field .radio,
.product__summary #fpf_6172686_field .radio {
  background: white;
  padding: 16px;
  border-radius: 4px;
  margin: 0;
  border: solid 1px var(--c-neutral40);
  transition: all 0.2s ease-in-out;
}
.product__summary #fpf_2999821_field .radio:hover,
.product__summary #fpf_9073068_field .radio:hover,
.product__summary #fpf_9884569_field .radio:hover,
.product__summary #fpf_6172686_field .radio:hover {
  border-color: var(--c-turquoise);
}
.product__summary #fpf_2999821_field .radio:active,
.product__summary #fpf_9073068_field .radio:active,
.product__summary #fpf_9884569_field .radio:active,
.product__summary #fpf_6172686_field .radio:active {
  border-color: var(--c-turquoise);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}
