/**
 * Added to cart popup
 *
 * @package
 * @subpackage WooCommerce
 * @since 2.0.0
 */

.add_to_cart_popup__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	transition: background-color .25s ease-in-out;

	.add_to_cart_popup {
		background: white;
		max-width: 350px;
		width: 100%;
		padding: 16px;
		border: solid 1px var(--c-secondary);
		max-height: calc(100vh - 20px);
		transform: translateY(15%);
		opacity: 0;
		position: relative;
		transition: opacity .25s ease-in-out, transform .25s ease-in-out;
		border-radius: 8px;
		@include media-up(md) {
			padding: 40px;
			max-width: 880px;
		}

		.popup-close {
			position: absolute;
			right: 30px;
			padding: 0;
			width: unset;
			background: white;
			box-shadow: none;
			border: none;
			transition: border .2s ease-in-out;
			svg {
				display: block;
				width: 20px;
				height: 20px;
				path {
					transition: all .2s ease-in-out;
				}
			}
			&:hover {
				border-color: var( --c-turquoise );
				svg > path {
					fill: var( --c-turquoise );
				}
			}
			@include media-down(md) {
				border: solid 1px var( --c-neutral30 );
				padding: 10px;
				border-radius: 50%;
				top: 8px;
				right: 8px;
				svg {
					width: 16px;
					height: 16px;
				}
			}
		}

		.woocommerce-mini-cart-item {
			display: flex;
			flex-flow: row wrap;
			&__image {
				flex-grow: 1;
				@include media-up(md) {
					flex: 0 0 calc(50% + 16px);
					padding-right: 16px;
				}
				@include media-up(lg) {
					flex: 0 0 calc(50% + 40px);
					padding-right: 40px
				}
			}
			&__description {
				display: flex;
				flex-flow: column nowrap;
				lex-grow: 1;
				@include media-up(md) {
					flex: 0 0 calc(50% - 40px);
				}
				.heading {
					margin-top: 16px;
					margin-bottom: 16px;
					font-size: 21px;
					@include media-up(md) {
						margin-top: 30px;
						margin-bottom: 24px;
						font-size: 32px;
					}
				}
				h2 {
					font-size: 18px;
					font-weight: 500;
				}
				.variation {
					display: grid;
					grid-template-columns: auto 1fr;
					font-size: 14px;
					color: var(--c-neutral65);
					margin-bottom: 20px;
					dt {
						padding-right: 10px;
					}

					p {
						margin-bottom: 0;
					}
				}
				.button-go-to-cart {
					margin-top: auto;
					align-self: flex-end;
					width: 100%;
					max-width: unset;
					margin-bottom: 8px;
				}
				.button-continue {
					width: 100%;
					max-width: unset;
					font-size: 18px;
					padding: 16px;
					color: var( --c-turquoise );
					&:hover {
						color: var( --c-neutral80 );
					}
				}
			}
		}

	}

	&.is-visible {
		background-color: rgba(0, 0, 0, .6);
		transition: background-color .30s ease-in-out;
		.add_to_cart_popup {
			opacity: 1;
			transform: translateY(0);
			transition: opacity .35s ease-in-out .25s, transform .35s ease-in-out .25s;
		}
	}
}
