/**
 * Breadcrumbs
 *
 * @package WOOBIBOO
 * @author Inspire Labs - Mateusz Major
 * @since 3.0.0
 */
.woocommerce-breadcrumb {
	font-size: 14px;
	margin-top: 24px;
	z-index: 2;
	position: relative;
	@include media-down(sm) {
		display: none;
	}

	a {
		text-decoration: underline;
	}
	.icon {
		margin-left: 12px;
		margin-right: 12px;
		transform: translateY(2px);
		&:after {
			width: 9px;
			height: 14px;
		}
	}
}