/* Fancybox */

.fancybox-container {
	.fancybox-inner{
		.fancybox-toolbar {
			position: absolute!important;
			top: 0!important;
			right: 0!important;
			button {
				padding: 0px;
				background: transparent;
				margin-left: 20px;
				max-width: unset;
				width: auto;
				box-shadow: none!important;
				&.fancybox-button--zoom,
				&.fancybox-button--play {
					display: none!important;
				}
				svg {
					width: unset;
				}
			}
		}
		.fancybox-navigation {
			.fancybox-button--arrow_left,
			.fancybox-button--arrow_right {
				background: transparent;
				padding: 5px;
				box-shadow: none!important;
				@include media-down(xs) {
					displaY: none!important;
				}
			}
		}

		.fancybox-caption__body {
			display: none!important;
		}
	}
}