/* Footer */
.site-footer {
	margin-top: 40px;
	background-color: white;
	@include media-up(md) {
		margin-top: 80px;
	}

	// Header
	&__header {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-top: 15px;
		padding-bottom: 15px;
		@include media-up(xs) {
			padding-left: 0;
			padding-right: 0;
			border-bottom: solid 1px var( --c-neutral30 );
		}
		.custom-logo-link {
			@include media-up(sm) {
				margin-right: 60px;
			}
			img {
				@include media-down(sm) {
					height: 24px;
				}
			}
		}
		.social-links {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			@include media-down(md) {
				align-self: flex-end;
				margin-left: auto;
			}
			span {
				display: none;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 500;
				@include media-up(md) {
					display: inline-block;
				}
			}
			> a {
				margin-left: 24px;
				svg {
					transform: translateY(2px);
				}
			}
		}
		.prizes_certificates {
			display: none;
			flex-flow: row nowrap;
			align-self: flex-end;
			margin-left: auto;
			@include media-up(md) {
				display: flex;
			}
			> * {
				margin-left: 8px;
				img {
					display: block;
					width: 100px;
					height: 100px;
					object-fit: contain;
				}
			}
		}
	}

	// Widget area
	&__navigation {
		display: flex;
		flex-flow: row wrap;
		margin-top: 24px;
		margin-bottom: 8px;
		@include media-up(xs) {
			padding-left: 0;
			padding-right: 0;
		}
		@include media-up(md) {
			margin-top: 40px;
		}
		> * {
			flex: 0 0 100%;
			padding-right: 15px;
			margin-bottom: 16px;
			@include media-up(xxs) {
				flex-basis: 50%;
			}
			@include media-up(md) {
				flex-basis: 25%;
			}
			h4 {
				font-size: 23px;
				font-weight: 500;
				margin-bottom: 8px;
				@include media-up(sm) {
					margin-bottom: 16px;
				}
			}
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
				li {
					margin-bottom: 8px;
					@include media-up(sm) {
						margin-bottom: 16px;
					}
				}
			}
			input,
			button {
				margin-bottom: 16px;
				max-width: unset;
			}
			&:nth-of-type(1) {
				h4{
					color: var( --c-turquoise );
				}
			}
			&:nth-of-type(2) {
				h4{
					color: var( --c-purple );
				}
			}
			&:nth-of-type(3) {
				h4{
					color: var( --c-pink );
				}
			}
			&:nth-of-type(4) {
				@include media-down(md) {
					order: 4;
					flex-basis: 100%;
					padding-right: 0;
				}
				h4{
					color: var( --c-orange );
				}
			}
			&:nth-of-type(5) {
				display: none;
				@include media-down(md) {
					order: 3;
					display: flex;
					flex-flow: column nowrap;
					justify-content: center;
					align-items: center;
				}
				img {
					width: 100px;
				}
			}
		}
	}

	// Language switcher
	.footer__switcher {
		@include media-up(xs) {
			padding-left: 0;
			padding-right: 0;
			display: flex;
		}
		&__wrapper {
			&:not( :last-child ) {
				margin-bottom: 20px;
			}
			@include media-up(xs) {
				flex: 0 0 calc( 100% / 2);
				padding-right: 15px;
			}
			@include media-up(md) {
				max-width: 363px;
				flex: 0 0 calc( 100% / 4);
			}
			select {
				max-width: unset;
			}
		}
	}

	// Footer description
	.site-description {
		display: flex;
		margin-top: 25px;
		padding-top: 16px;
		padding-bottom: 16px;
		border-top: solid 1px var( --c-neutral30 );
		flex-flow: column nowrap;
		@include media-up(xs) {
			padding-left: 0;
			padding-right: 0;
		}
		@include media-up(sm) {
			flex-flow: row nowrap;
			padding-top: 40px;
			padding-bottom: 40px;
		}
		.description {
			max-width: 760px;
			p {
				margin: 0;
				font-size: 12px;
				color: var( --c-neutral80 );
				@include media-up(sm) {
					font-size: 14px;
				}
			}
		}
		.design {
			white-space: nowrap;
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
			margin-top: 25px;
			@include media-up(sm) {
				align-self: flex-end;
				margin-left: auto;
			}
			svg {
				height: 20px;
				width: auto;
				transform: translateY(4px);
				margin-left: 15px;
			}
		}
	}

	// Footer cut through logo
	&__decoration {
		max-width: 1440px;
		margin: 40px auto 0;
		@include media-down(sm) {
			display: none;
		}
	}
}