/* Menu */
.site-navigation {
	background: white;
	position: relative;
	z-index: 10;

	// Advantages
	&__advantages {
		background-color: var(--c-neutral10);
		padding-top: 10px;
		padding-bottom: 10px;

		.advantages {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;

			.icon.icon-circle {
				display: inline-block;
				width: 4px;
				height: 4px;
				background: black;
				border-radius: 2px;
				transform: translateY(8px);
			}

			&__item {
				font-size: 12px;

				@include media-up(md) {
					font-size: 14px;
				}

				svg {
					display: inline-block;
					width: 14px;
					height: 14px;
					margin-right: 4px;
					transform: translateY(2px);

					@include media-up(md) {
						margin-right: 8px;
					}
				}

				&:nth-of-type(1) {
					&+.icon.icon-circle {
						background-color: var(--c-purple);

						@include media-down(sm) {
							display: none;
						}
					}
				}

				&:nth-of-type(2) {
					@include media-down(sm) {
						display: none;
					}

					&+.icon.icon-circle {
						background-color: var(--c-pink);

						@include media-down(md) {
							display: none;
						}
					}
				}

				&:nth-of-type(3) {
					@include media-down(md) {
						display: none;
					}

					&+.icon.icon-circle {
						background-color: var(--c-orange);

						@include media-down(lg) {
							display: none;
						}
					}
				}

				&:nth-of-type(4) {
					@include media-down(lg) {
						display: none;
					}

					&+.icon.icon-circle {
						background-color: var(--c-turquoise);

						@include media-down(sm) {
							background-color: var(--c-neutral40);
						}
					}
				}

				&:nth-last-of-type(1) {
					@include media-down(sm) {
						color: var(--c-green);

						svg>path {
							fill: var(--c-green);
						}
					}

					&+.icon.icon-circle {
						display: none;
					}
				}
			}
		}
	}

	// Primary navigation
	&__primary {
		.container {
			display: flex;
			flex-flow: row wrap;
			padding-top: 24px;
			padding-bottom: 24px;
			justify-content: center;
			align-items: center;

			#site-menu-mobile {
				background: transparent;
				width: 32px;
				padding: 0;
				margin-right: 16px;
				box-shadow: none !important;

				@include media-up(md) {
					display: none;
				}

				span {
					display: block;
					width: 100%;
					height: 2px;
					background: var(--c-neutral80);
					transition: all .3s;
					position: relative;

					&+span {
						margin-top: 6px;
					}
				}

				&.not-active {
					span {
						&:nth-of-type(1) {
							animation: ease .7s top-2 forwards;
						}

						&:nth-of-type(2) {
							animation: ease .7s scaled-2 forwards;
						}

						&:nth-of-type(3) {
							animation: ease .7s bottom-2 forwards;
						}
					}
				}

				&.active {
					span {
						&:nth-of-type(1) {
							animation: ease .7s top forwards;
						}

						&:nth-of-type(2) {
							animation: ease .7s scaled forwards;
						}

						&:nth-of-type(3) {
							animation: ease .7s bottom forwards;
						}
					}
				}
			}

			// Logo
			.custom-logo-link {
				.custom-logo {
					height: 32px;

					@include media-up(md) {
						height: 40px;
					}
				}
			}

			// Main menu
			&__main {
				display: flex;
				flex-grow: 1;
				flex-flow: row wrap;

				@include media-down(md) {
					order: 3;
					width: 100%;
				}

				// Main menu
				.primary__menu {
					flex-grow: 1;
					max-height: 0;
					transition: max-height 0.2s ease-in-out;
					overflow: hidden;

					@include media-up(md) {
						padding-left: 40px;
						padding-right: 40px;
						overflow: unset;
						max-height: unset;
					}

					.menu {
						list-style-type: none;
						display: flex;
						justify-content: flex-end;
						padding: 0;
						margin: 24px 0 0;
						flex-flow: column nowrap;

						@include media-up(md) {
							flex-flow: row nowrap;
							margin: 0;
						}

						li {
							display: inline-flex;

							@include media-down(md) {
								opacity: 0;
								transition: opacity .3s ease-in-out;
							}

							&:not( :last-child) {
								margin-right: 24px;
								margin-bottom: 8px;

								@include media-up(md) {
									margin-bottom: 0px;
								}

								@include media-up(lg) {
									margin-right: 40px;
								}
							}

							a {
								font-size: 23px;

								&[aria-current="page"] {
									text-decoration: underline;
								}
							}
						}
					}
				}

				// Search form
				.dgwt-wcas-search-wrapp {
					display: none;

					@include media-down(md) {
						margin-top: 20px;
						max-width: unset;
					}

					.dgwt-wcas-sf-wrapp {
						svg {
							display: none;
						}

						input[type="search"].dgwt-wcas-search-input {
							padding: 12px;
							margin-top: -4px;
							margin-bottom: -4px;
							height: unset;
							border-radius: 5px;
							box-shadow: none !important;
							border-color: var(--c-neutral40);
							font-size: 16px;

							&::placeholder {
								color: var(--c-text);
								opacity: 1;
								font-style: normal;
							}
						}
					}
				}

				&.shown-menu {
					.primary__menu {
						max-height: 1000px;
						transition: max-height 0.6s ease-in-out;

						.menu {
							li {
								opacity: 1;
								transition-delay: .1s;

								&:nth-child(2) {
									transition-delay: .2s;
								}

								&:nth-child(3) {
									transition-delay: .3s;
								}

								&:nth-child(4) {
									transition-delay: .4s;
								}
							}
						}

						;
					}
				}

				&.shown-search {
					.primary__menu {
						display: none;
					}

					.dgwt-wcas-search-wrapp {
						display: block;
					}
				}

			}

			// Icons menu
			.quick__menu {
				display: flex;
				flex-wrap: nowrap;
				align-self: flex-end;
				margin-left: auto;
				margin-bottom: auto;
				margin-top: auto;

				.item {
					display: inline-block;
					width: 24px;
					height: 24px;
					position: relative;
					margin-right: 24px;

					@include media-up(lg) {
						margin-right: 40px;
					}

					&:last-child {
						margin-right: 0;
					}

					svg path {
						transition: fill .3s ease-in-out;
					}

					&:hover {
						svg path {
							fill: var(--c-turquoise);
						}
					}

					#count-products-cart {
						display: none;
						justify-content: center;
						align-items: center;
						width: 24px;
						height: 24px;
						font-size: 14px;
						background-color: var(--c-turquoise);
						border-radius: 50%;
						font-weight: 500;
						color: white;
						position: absolute;
						top: -10px;
						right: -10px;

						&.is-visible {
							display: flex;
						}
					}

					&#search-trigger {
						background: transparent;
						box-shadow: none !important;
						padding: 0;
						width: 24px;
						height: 24px;

						.close {
							display: none;
						}

						&.is-open {
							.search {
								display: none;
							}

							.close {
								display: block;
							}
						}
					}
				}
			}
		}
	}
}

@keyframes top {
	0% {
		top: 0;
		transform: rotate(0);
	}

	50% {
		top: 8px;
		transform: rotate(0);
	}

	100% {
		top: 8px;
		transform: rotate(45deg);
	}
}

@keyframes top-2 {
	0% {
		top: 8px;
		transform: rotate(45deg);
	}

	50% {
		top: 8px;
		transform: rotate(0deg);
	}

	100% {
		top: 0;
		transform: rotate(0deg);
	}
}


@keyframes bottom {
	0% {
		bottom: 0;
		transform: rotate(0);
	}

	50% {
		bottom: 8px;
		transform: rotate(0);
	}

	100% {
		bottom: 8px;
		transform: rotate(135deg);
	}
}

@keyframes bottom-2 {
	0% {
		bottom: 8px;
		transform: rotate(135deg);
	}

	50% {
		bottom: 8px;
		transform: rotate(0);
	}

	100% {
		bottom: 0;
		transform: rotate(0);
	}
}

@keyframes scaled {
	50% {
		transform: scale(0);
	}

	100% {
		transform: scale(0);
	}
}

@keyframes scaled-2 {
	0% {
		transform: scale(0);
	}

	50% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}