/* Menu */
body.woocommerce_cart_page,
body.woocommerce_checkout_page {

	.site-navigation {
		border-bottom: solid 1px var( --c-neutral30 );
		padding: 16px;
		@include media-up(md) {
			padding: 24px;
		}

		&__primary {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
			counter-reset: steps;

			// Logo
			.custom-logo-link {
				.custom-logo {
					height: 32px;
					@include media-up(md) {
						height: 40px;
					}
				}
			}

			// Shopping steps
			.shopping-steps {
				display: flex;
				list-style-type: none;
				padding: 0;
				li {
					counter-increment: steps;
					text-transform: uppercase;
					position: relative;
					color: var( --c-neutral40 );
					font-size: 16px;
					padding-left: 24px;
					height: 24px;
					@include media-up(sm) {
						padding-left: 30px;
					}
					@include media-up(md) {
						padding-left: 36px;
					}
					&:before {
						content: counter(steps);
						display: flex;
						width: 24px;
						height: 24px;
						justify-content: center;
						align-items: center;
						background-color: var( --c-neutral40 );
						color: white;
						border-radius: 50%;
						font-size: 14px;
						position: absolute;
						top: -1px;
						left: 0;
					}
					&:not(:last-child) {
						margin-right: 12px;
						@include media-up(md) {
							margin-right: 30px;
						}
						@include media-up(lg) {
							margin-right: 80px;
						}
					}
					span {
						@include media-down(sm) {
							display: none;
						}
					}
					&.active {
						color: var( --c-text );
						&:before {
							background-color: var( --c-text );
						}
					}
				}
			}

			// Safe shopping badge
			.safe-shopping {
				font-size: 14px;
				text-transform: uppercase;
				color: var( --c-neutral );
				transform: translateY(-1px);
				@include media-down(sm) {
					display: none;
				}
				svg {
					margin-right: 5px;
					transform: translateY(4px);
				}
			}


		}

	}
}