/**
 * WooCommerce User Account login page
 *
 * @package woobiboo
 * @since 3.0.0
 */
body.woocommerce_login_page {
	#site-content {

		&:before,
		&:after {
			display: block;
			content: '';
			width: calc((100vw - 600px) / 2);
			height: calc(100% + 80px);
			position: absolute;
			background-repeat: no-repeat;
			background-size:contain;
			bottom: 0;
			margin-bottom: -80px;
		}

		&:before {
			left: 0;
			background-image: url('../img/login-left.svg');
			background-position: bottom left;
			@include media-down(md) {
				display: none;
			};
		}

		&:after {
			right: 0;
			background-image: url('../img/login-right.svg');
			background-position: bottom right;
			@include media-down(md) {
				display: flex;
				position: relative;
				padding-top: 40%;
				background-image: url('../img/login-bottom.svg');
				background-position: center bottom;
				background-size: contain;
				width: 100%;
				max-width: 560px!important;
				margin: 40px auto -40px;
			}
		}

		.container {
			background-color: white;
			max-width: 560px!important;
			margin: 0px auto;
			padding: 24px 16px;
			border: solid 1px var( --c-neutral30 );
			@include media-up(md) {
				margin: 70px auto;
				border-radius: 4px;
				padding: 40px 80px;
			}

			h2 {
				@extend h1;
				text-align: center;
				margin-bottom: 30px;
			}
			p {
				margin-bottom: 24px;
			}

			input[type=text],
			input[type=password],
			input[type=email],
			button {
				width: 100%;
				max-width: unset;
			}

			// Login
			.form-row:not(.woocommerce-form-row) {
				display: flex;
				margin-bottom: 0;
				.woocommerce-form-login__rememberme {
					flex: 0 0 50%;
					display: flex;
					margin-bottom: 0;
					justify-content: flex-start;
					align-items: center;
					#rememberme {
						margin-right: 5px;
					}
				}
				button {
					flex: 0 0 50%;
				}
			}

			// Lost password
			.woocommerce-LostPassword {
				margin-top: 24px;
				display: flex;
				justify-content: center;
				width: 100%;
				padding-top: 16px;
				padding-bottom: 16px;
				border-top: solid 1px var( --c-neutral30 );
				border-bottom: solid 1px var( --c-neutral30 );
				> a {
					font-size: 16px;
					text-decoration: underline;
					color: var( --c-neutral80 );
				}
			}

			// Create account
			.woocommerce-CreateAccount {
				text-align: center;
				> a {
					color: var( --c-turquoise );
					text-decoration: underline;
				}
			}

		}
	}

	.u-column2 {

	}
}