/**
 * Notices
 *
 * @package woobiboo
 * @since 3.0.0
 */
.woocommerce-notices-wrapper,
.woocommerce-NoticeGroup {
	flex-grow: 1;
	position: relative;
	z-index: 2;
	.woocommerce-message,
	.woocommerce-error {
		list-style-type: none;
		background-color: var( --c-neutral10 );
		padding: 16px;
		border-radius: 4px;
		margin-top: 8px;
		margin-bottom: 8px;
		&:not(:last-of-type) {
			margin-bottom: 8px;
		}
		> li:not( :last-child ) {
			margin-bottom: 8px;
		}
		.restore-item {
			float: right;
			margin-left: 20px;
		}
		.button.wc-forward {
			padding: 12px;
			display: inline-block;
			width: unset;
			margin-right: 10px;
		}
	}
}