/* Pagination */
.page-numbers {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	li {
		display: inline-block;
		> * {
			display: inline-block;
			background: white;
			line-height: 40px;
			width: 40px;
			border-radius: 4px;
			border: solid 1px var( --c-neutral30 );
			transition: all .2s ease-in-out;
			&:not(.current):hover {
				border-color: var( --c-turquoise );
			}
			&.current {
				background-color: var( --c-neutral30 );
				color: white;
			}
		}
	}
}

.woocommerce-pagination {
	margin-top: 40px;
}