/**
 * Variables
 *
 * @package woobiboo
 * @since 3.0.0
 */
:root {
  --c-pink: #E7578E;
  --c-orange: #F5A128;
  --c-purple: #8A74B1;
  --c-turquoise: #0BB2CD;
  --c-red: #E31439;
  --c-gray: #E7E7E7;
  --c-lightgray: #FAFAFA;
  --c-green: #1DB046;
  --c-text: #023662;
  --c-neutral: #355E81;
  --c-neutral80: #355E81;
  --c-neutral65: #5B7C99;
  --c-neutral40: #96ADC2;
  --c-neutral30: #D7DFE6;
  --c-neutral20: #E6EBF0;
  --c-neutral10: #F2F5F7;
  --f-primary: 'Rubik', sans-serif; }

/**
 * Mixins
 *
 * @package amberbody
 * @since 1.0.0
 */
/**
 * Typography
 *
 * @package WOOBIBOO
 * @since 2.0.0
 */
h1, [data-name="block-title"] input[type="text"] {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%; }
  @media (min-width: 992px) {
    h1, [data-name="block-title"] input[type="text"] {
      font-size: 32px; } }

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 15px; }

h3,
h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px; }

h5,
h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px; }

p {
  margin-bottom: 15px; }

strong {
  font-weight: 700; }

a {
  color: var(--c-text);
  transition: color .2s ease-in-out; }
  a:hover {
    color: var(--c-turquoise); }

img {
  display: block;
  width: 100%;
  height: auto; }

.price {
  font-size: 21px;
  color: var(--c-turquoise);
  font-weight: 500;
  line-height: 1;
  display: inline-flex; }
  @media (min-width: 992px) {
    .price {
      font-size: 23px; } }
  .price del {
    order: 1;
    margin-left: 7.5px;
    color: var(--c-neutral40) !important; }

i.icon {
  display: inline-block; }
  i.icon.chevron-right:after {
    content: url("../img/chevron-right.svg"); }

/**
 * Editor settings
 *
 * @package amberbody
 * @since 1.0.0
 */
.editor-styles-wrapper {
  line-height: 1.5;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Main column width */
.wp-block:not([data-align="wide"]):not([data-align="full"]),
.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px; }
  @media (min-width: 320px) {
    .wp-block:not([data-align="wide"]):not([data-align="full"]),
    .container {
      max-width: 100% !important; } }
  @media (min-width: 576px) {
    .wp-block:not([data-align="wide"]):not([data-align="full"]),
    .container {
      max-width: 540px !important; } }
  @media (min-width: 768px) {
    .wp-block:not([data-align="wide"]):not([data-align="full"]),
    .container {
      max-width: 720px !important; } }
  @media (min-width: 992px) {
    .wp-block:not([data-align="wide"]):not([data-align="full"]),
    .container {
      max-width: 980px !important; } }
  @media (min-width: 1200px) {
    .wp-block:not([data-align="wide"]):not([data-align="full"]),
    .container {
      max-width: 1140px !important; } }
  @media (min-width: 992px) {
    .wp-block:not([data-align="wide"]):not([data-align="full"]),
    .container {
      margin-bottom: 75px;
      padding-left: 70px;
      padding-right: 70px; } }
  @media (min-width: 1420px) {
    .wp-block:not([data-align="wide"]):not([data-align="full"]),
    .container {
      margin-bottom: 100px; } }

/* Width of "wide" blocks */
/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  max-width: none; }

.components-button {
  line-height: 1; }

.invisible-group {
  border-color: transparent !important;
  padding: 0 !important; }

[data-name="block-title"] input[type="text"] {
  padding: 0;
  font-size: 36px !important;
  color: black; }

.form-wrap p, p.description, p.help, span.description {
  font-style: unset !important;
  margin: 0 !important; }

/*# sourceMappingURL=editor.css.map */
