#blog-rrs {

    section.title-area {

        nav.breadcrumb {
            font-size: 14px;
            margin-top: 24px;
            z-index: 2;
            position: relative;

            @media(max-width: 767px) {
                display: none;
            }

            a {
                text-decoration: underline;
            }

            .icon {
                margin-left: 12px;
                margin-right: 12px;
                transform: translateY(2px);
            }
        }

        h1 {
            font-size: 32px;
            margin-top: 40px;
            margin-bottom: 25px;

            @media(max-width: 991px) {
                font-size: 24px;
            }
        }
    }


    .news {
        .blocks-blog {
            .row-wrap {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 30px;

                @media(max-width: 991px) {
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 8px;
                }

                @media(max-width: 576px) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @media(max-width: 420px) {
                    grid-template-columns: repeat(1, 1fr);
                }

                .column-4 {
                    a {




                        .news-item {
                            display: flex;
                            flex-grow: 1;
                            flex-flow: column nowrap;
                            background: white;
                            padding: 16px;
                            border-radius: 8px;
                            border: solid 1px var(--c-neutral30);
                            height: 100%;
                            position: relative;
                            transition: border-color .2s ease-in-out, color .2s ease-in-out;
                            overflow: hidden;
                            position: relative;

                            .bg-post-img {
                                height: 253px;
                                background-size: cover !important;
                                background-position: center !important;
                                background-repeat: no-repeat !important;
                                margin: -16px -16px 24px;
                            }

                            h2.news-title-post {
                                font-size: 16px;
                                color: #023662;
                                margin-bottom: 15px;
                                transition: color .2s ease-in-out;
                            }

                            .excerptNewsArea {
                                p {
                                    color: #0bb2cd;
                                    font-size: 14px;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 6;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    margin-bottom: 30px;
                                }
                            }


                        }

                        .read_more {
                            margin-top: 15px;
                            font-size: 14px;
                            font-weight: 500;
                            text-align: right;
                            position: absolute;
                            bottom: 0;
                            right: 16px;
                        }

                        &:hover {
                            h2.news-title-post {
                                color: var(--c-turquoise);
                            }

                            .news-item {
                                border: solid 1px var(--c-turquoise);
                            }
                        }
                    }
                }
            }
        }

        .pagination {
            padding: 15px 0;

        }
    }

}