/**
 * WooCommerce Cart
 *
 * @package woobiboo
 * @since 3.0.0
 */
body.woocommerce-cart {
  .woocommerce {
    display: flex;
    flex-flow: column wrap;
    @include media-up(sm) {
      flex-flow: row nowrap;
    };

    .woocommerce-notices-wrapper {
      display: none;
    }

    .cart-empty,
    .return-to-shop {
      flex: 1 0 100%;
      text-align: center;
    }
    .cart {
      background: white;
      padding: 15px;
      border-radius: 8px;
      border: solid 1px var(--c-neutral30);
      flex: 0 0 100%;
      margin-bottom: 8px;
      @include media-down(xs) {
        margin-left: -15px;
        margin-right: -15px;
        border-radius: 0px;
      }
      @include media-up(sm) {
        flex-basis: 100%;
        padding: 24px;
      }

      &_item {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 64px 80px 80px auto;
        @include media-up(md) {
          grid-template-columns: 120px 1fr auto;
        }

        &:not( :nth-last-child(2) ) {
          padding-bottom: 24px;
          border-bottom: solid 1px var(--c-neutral30);
          margin-bottom: 24px;
        }

        .product-remove {
          order: 3;
          padding: 0 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          @include media-up(md) {
            justify-content: flex-start;
            order: 2;
          }
          .remove {
            display: inline-block;
            font-size: 14px;
            color: var( --c-neutral65 );
            white-space: nowrap;
            overflow: hidden;
            width: 20px;
            height: 20px;
            @include media-up(md) {
              width: unset;
              height: unset;
            }
            &:before {
              content: '';
              display: inline-block;
              margin-right: 3px;
              background: var( --c-neutral65 );
              width: 16px;
              height: 16px;
              mask-image: url( "../img/trash.svg" );
              -webkit-mask-image: url("../img/trash.svg");
              mask-size: contain;
              mask-repeat: no-repeat;
              -webkit-mask-repeat: no-repeat;
              transform: translateY(2px);
              transition: all .2s ease-in-out;
            }
            &:hover {
              color: var(--c-turquoise);
              &:before {
                background: var(--c-turquoise);
              }
            }
          }
        }

        .product-thumbnail {
          order: 0;
          grid-row: span 2;
        }

        .product-name {
          order: 1;
          hight: 100%;
          padding: 0 0 0 15px;
          background-color: transparent;
          grid-column: span 3;
          @include media-up(md) {
            padding: 0 24px 18px;
            grid-column: unset;
            min-height: 100px;
          }

          h3 {
            margin-bottom: 8px;
          }

          .variation {
            display: grid;
            grid-template-columns: auto 1fr;
            font-size: 14px;
            color: var(--c-neutral65);
            margin-bottom: 8px;
            dt {
              padding-right: 10px;
            }

            p {
              margin-bottom: 0;
            }
          }
        }

        .product-quantity {
          order: 2;
          padding-left: 15px;
          @include media-up(md) {
            order: 3;
            padding-left: 0px;
          }
          .qty {
            padding: 7px 16px;
            width: 80px;
            box-sizing: border-box;
          }
        }

        .product-price {
          order: 4;
          text-align: right;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          @include media-up(md) {
            text-align: center;
          }
        }
        .product-subtotal {
          display: none;
        }
      }

      .actions {
        display: none;
      }
    }
    .cart-collaterals {
      flex-grow: 1;
      @include media-up(sm) {
        padding-left: 8px;
        min-width: 300px;
      }
      @include media-up(md) {
        padding-left: 30px;
        min-width: 393px;
      }
      &-wrapper {
        @include media-up(sm) {
          position: sticky;
          top: 30px;
        }

        // Cart totals
        .cart_totals {
          background: white;
          padding: 16px;
          border-radius: 8px;
          border: solid 2px var(--c-neutral30);
          @include media-up(md) {
            padding: 24px;
          }
          &_price {
            margin-bottom: 15px;
            font-size: 23px;
            display: flex;
            justify-content: space-between;
          }
          .checkout-button {
            max-width: unset;
          }
          .cart_totals_cupon {
            text-align: right;
          }
        }

        // Why us?
        .why-us {
          margin-top: 8px;
          background-color: var( --c-neutral10 );
          padding: 16px;
          border-radius: 4px;
          border: solid 1px var( --c-neutral30 );
          @include media-up(md) {
            margin-top: 24px;
            padding: 24px;
          }
          .list {
            padding: 0;
            margin: 0;
            list-style-type: none;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 14px;
            &__item {
              display: flex;
              img {
                display: block;
                width: 16px;
                height: 16px;
                object-fit: contain;
                margin-right: 10px;
                transform: translateY(1px);
              }
              &:not(:last-child) {
                margin-bottom: 16px;
              }
            }
          }
        }

      }
    }
    .cart_footer {
      display: flex;
      flex-flow: row wrap;
      margin-top: 25px;
      .button-text {
        svg {
          transform: translateY(3px);
        }
        &.button-show-coupon-form {
          align-self: flex-end;
          margin-left: auto;
        }
      }
      #coupon-form {
        display: none;
        margin-top: 25px;
        flex: 1 0 100%;
        background: white;
        border-radius: 8px;
        border: solid 1px var(--c-neutral30);
        text-align: center;
        padding: 24px;
      }
      #coupon-form-mobile {
        display: none;
        margin-top: 25px;
        flex: 1 0 100%;
        background: white;
        border-radius: 8px;
        border: solid 1px var(--c-neutral30);
        text-align: center;
        padding: 24px;
      }
    }
    .woocommerce-cart-form {
      .cart_footer {
        @include media-down(sm) {
          display: none;
        }
      }
    }
    .cart-collaterals {
      .cart_footer {
        @include media-up(sm) {
          display: none;
        }
      }
    }
  }

  .empty-cart {
    display: block;
    width: 100%;
    text-align: center;
  }
}