/**
 * WooCommerce Checkout
 *
 * @package woobiboo
 * @since 3.0.0
 */
.woocommerce_checkout_page {
  .checkout {
    @include media-up(sm) {
      display: grid;
      grid-template-columns: 1fr 300px;
      grid-template-rows: auto;
      grid-auto-flow: row;
      grid-template-areas:
        "order-notifications order-notifications"
        "order-content aside"
        "order-customer-fields aside"
        "order-review aside"
        "shopping-safety aside"
        "checkout-footer aside";
      grid-column-gap: 8px;
    }
    @include media-up(md) {
      grid-column-gap: 30px;
      grid-template-columns: 1fr 363px;
    }

    .woocommerce-notices-wrapper,
    .woocommerce-NoticeGroup {
      grid-area: order-notifications;
      order: 0;
    }

    .order-content {
      margin-left: -15px;
      margin-right: -15px;
      grid-area: order-content;
      padding: 16px;
      background-color: white;
      border: solid 1px var(--c-neutral30);
      border-bottom: none;
      @include media-up(xs) {
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 8px 8px 0 0;
      }
      @include media-up(sm) {
        padding: 24px;
      }
      @include media-up(lg) {
        padding: 40px 100px 20px;
      }
      .cart {
        &__item {
          font-size: 16px;
          display: grid;
          grid-template-columns: 64px auto;
          margin-bottom: 16px;
          @include media-up(md) {
            grid-template-columns: 120px auto;
          }
          .product-thumbnail {
            order: 0;
            grid-row: span 2;
          }
          .product-name {
            padding: 0 24px 8px;
            .variation {
              display: grid;
              grid-template-columns: auto 1fr;
              font-size: 14px;
              color: var(--c-neutral65);
              margin-bottom: 8px;
              dt {
                padding-right: 10px;
              }
              dd {
                p {
                  margin-bottom: 0;
                }
              }
            }
          }
          .product-total {
            padding: 0 24px 8px;
            font-weight: 500;
          }
        }
      }
    }

    // Customer fields
    #customer_details {
      grid-area: order-customer-fields;
      padding: 16px;
      background-color: white;
      order: 2;
      border-left: solid 1px var(--c-neutral30);
      border-right: solid 1px var(--c-neutral30);
      margin-left: -15px;
      margin-right: -15px;
      @include media-up(xs) {
        margin-left: 0px;
        margin-right: 0px;
      }
      @include media-up(sm) {
        padding: 24px;
      }
      @include media-up(lg) {
        padding: 20px 100px;
      }
      input {
        max-width: unset;
      }

      .woocommerce-billing-fields__field-wrapper,
      .woocommerce-shipping-fields__field-wrapper {
        display: flex;
        flex-flow: row wrap;

        .form-row {
          flex: 1 0 100%;
          @include media-up(md) {
            &#billing_first_name_field,
            &#shipping_first_name_field {
              flex: 0 0 50%;
              padding-right: 16px;
            }
            &#billing_last_name_field,
            &#shipping_last_name_field {
              flex: 0 0 50%;
            }
            &#billing_postcode_field,
            &#shipping_postcode_field {
              flex: 0 0 35%;
              padding-right: 16px;
            }
            &#billing_city_field,
            &#shipping_city_field {
              flex: 0 0 65%;
            }
          }
          &#billing_faktura_field {
            margin: 0;
          }
          &#billing_company_field,
          &#billing_nip_field {
            display: none;
          }
        }
      }
    }

    .woocommerce-additional-fields__field-wrapper {
      margin-top: 40px;
      textarea {
        max-width: unset;
      }
    }

    .woocommerce-checkout-review-order {
      grid-area: order-review;
      margin-left: -15px;
      margin-right: -15px;
      padding: 16px;
      background-color: white;
      border-left: solid 1px var(--c-neutral30);
      border-right: solid 1px var(--c-neutral30);
      @include media-up(xs) {
        margin-left: 0px;
        margin-right: 0px;
      }
      @include media-up(sm) {
        padding: 24px;
      }
      @include media-up(lg) {
        padding: 20px 100px;
      }

      // Shipping
      .woocommerce-checkout-review-order-table {
        h3 {

        }
        .woocommerce-shipping-methods {
          list-style-type: none;
          padding: 0;
          li {
            position: relative;
            margin-bottom: 8px;
            label {
              border: solid 1px var( --c-neutral40 );
              display: flex;
              padding: 24px;
              padding-left: 54px;
              border-radius: 4px;
              transition: all .2s ease-in-out;
              cursor: pointer;
              img {
                max-height: 26px;
                align-self: flex-end;
                width: auto;
                margin-left: auto;
              }
            }
            input[type="radio"] {
              position: absolute;
              top: 30px;
              left: 24px;
              &:checked + label {
                border-color: var( --c-turquoise );
                box-shadow: inset 0px 0px 0px 1px var( --c-turquoise );
              }
            }
          }
        }
      }

      // Summary
      .order-summary {
        background: var( --c-neutral10 );
        padding: 16px;
        margin-left: -15px;
        margin-right: -15px;
        @include media-up(sm) {
          padding: 24px;
          margin-left: -24px;
          margin-right: -24px;
        }
        @include media-up(lg) {
          border-radius: 4px;
          padding: 40px 76px;
          margin-left: -76px;
          margin-right: -76px;
        }
        dl {
          display: grid;
          grid-template-columns: 1fr auto;
          color: var(--c-neutral65);
          font-size: 16px;
          dt,
          dd {
            &:last-of-type {
              border-top: solid 1px var(--c-neutral30);
              margin-top: 8px;
              font-size: 16px;
              color: var( --c-text );
              font-weight: 500;
              padding-top: 8px;
              @include media-up(sm) {
                font-size: 18px;
                margin-top: 16px;
                padding-top: 16px;
              }
            }
          }
          dd {
            text-align: right;
          }
        }
      }

      // Payment method
      .woocommerce-checkout-payment {
        margin-top: 40px;
        .wc_payment_methods {
          list-style-type: none;
          padding: 0;
          .wc_payment_method {
            position: relative;
            margin-bottom: 8px;
            label {
              border: solid 1px var( --c-neutral40 );
              display: flex;
              padding: 24px;
              padding-left: 54px;
              border-radius: 4px;
              transition: all .2s ease-in-out;
              cursor: pointer;
              img {
                max-height: 26px;
                align-self: flex-end;
                width: auto;
                margin-left: auto;
              }
            }
            input[type="radio"] {
              position: absolute;
              top: 30px;
              left: 24px;
              &:checked + label {
                border-color: var( --c-turquoise );
                box-shadow: inset 0px 0px 0px 1px var( --c-turquoise );
              }
            }
          }
        }
      }
    }

    // Shopping safety
    .shopping-safety {
      grid-area: shopping-safety;
      padding: 16px;
      background-color: white;
      border: solid 1px var(--c-neutral30);
      border-top: none;
      margin-bottom: 8px;
      font-size: 14px;
      color: var( --c-neutral65 );
      margin-left: -15px;
      margin-right: -15px;
      padding: 16px;
      @include media-up(xs) {
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 0 0 8px 8px;
      }
      @include media-up(sm) {
        padding: 0 24px 24px;
      }
      @include media-up(lg) {
        padding: 0px 100px 60px;
      }
      p {
        display: inline-flex;
      }
      img {
        height: 40px;
        width: auto;
        margin-right: 16px;
      }
    }

    // Footer
    .checkout_footer {
      display: flex;
      flex-flow: row wrap;
      margin-top: 25px;
      grid-area: checkout-footer;
      .button-text {
        svg {
          transform: translateY(3px);
        }
      }
    }

    .place-order {
      grid-area: aside;
      &__wrapper {
        background: white;
        padding: 16px;
        border-radius: 8px;
        border: solid 2px var(--c-neutral30);
        @include media-up(sm) {
          position: sticky;
          top: 30px;
        }
        @include media-up(md) {
          padding: 24px;
        }
        .woocommerce-privacy-policy-text {
          p,
          a {
            font-size: 14px;
            color: var(--c-neutral65);
          }
          a {
            text-decoration: underline;
          }
        }
        .woocommerce-terms-and-conditions-checkbox-text {
          color: var(--c-text);
        }
        button {
          max-width: unset;
        }
      }
    }

    // Headings
    h3:not(#ship-to-different-address) {
      font-size: 18px;
      padding-bottom: 8px;
      border-bottom: solid 1px var(--c-neutral30);
      margin-bottom: 8px;
      @include media-up(sm) {
        font-size: 23px;
        padding-bottom: 23px;
        margin-bottom: 24px;
      }
    }
  }
}