// fix input "z imieniem"

.d-none {
    display: none;
}

.grecaptcha-badge {
    display: none !important;
}

.single_variation_wrap {
    label {
        &.radio {
            span {
                position: absolute;
                bottom: 50%;
                transform: translateY(50%);
                right: 12px;
            }
        }
    }
}

// fix popup mini-cart for tablet
@media(max-height: 690px) {
    #add_to_cart_popup {
        section.add_to_cart_popup {
            .woocommerce-mini-cart-item.mini_cart_item {
                .woocommerce-mini-cart-item__image {
                    height: 25vh;

                    img {
                        max-height: 100%;
                        width: auto;
                        margin: 0 auto;
                    }
                }

                .woocommerce-mini-cart-item__description {
                    .heading {
                        font-size: 14px;
                        margin: 10px 0;
                    }

                    h2 {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }


                    .variation {
                        margin-bottom: 10px;
                    }

                    .button-continue,
                    .button-go-to-cart {
                        font-size: 16px;
                        padding: 13px;
                    }

                }
            }
        }
    }
}

// add style for coupon in cart
.cart_totals_cupon {
    background: #f2f5f7;
    padding: 10px 10px;
    margin-bottom: 10px;

    .woocommerce-Price-amount.amount {
        color: #e7578e;
        font-weight: bold;
    }

    a.woocommerce-remove-coupon {
        color: #0bb2cd;
    }
}


// podsumowanie zamówienia

.woocommerce {
    .woocommerce-order {
        background: #FFFFFF;
        padding: 30px;
        border: 1px solid #0bb2cd;
        border-radius: 15px;

        @media(max-width: 450px) {
            padding: 15px;
        }

        ul.woocommerce-thankyou-order-details {
            padding-left: 20px;
        }

        .woocommerce-bacs-bank-details {
            h2 {
                text-transform: uppercase;

                @media(max-width:450px) {
                    font-size: 20px;
                }
            }

            ul {
                padding-left: 20px;

                @media(max-width:450px) {
                    padding: 0;
                    font-size: 14px;

                    li {
                        list-style: none;
                    }
                }
            }
        }



        .woocommerce-order-details {
            h2 {
                text-transform: uppercase;

                @media(max-width:450px) {
                    font-size: 18px;
                }
            }

            .order_details {
                thead {
                    tr {
                        th {
                            font-weight: bold;
                            text-transform: uppercase;
                            padding-bottom: 15px;
                            text-align: left;

                            &:first-child {
                                padding-right: 30px;
                            }
                        }
                    }
                }

                tbody {
                    tr.woocommerce-table__line-item.order_item {
                        ul {
                            padding-left: 20px;

                            @media(max-width:450px) {
                                padding: 0;

                                li {
                                    list-style: none;
                                }
                            }
                        }

                        td {


                            a {
                                color: #0bb2cd;
                                transition: .2s linear;

                                &:hover {
                                    color: #e7578e;
                                }
                            }


                            // &.product-total {
                            //     padding-left: 30px;
                            // }

                            &:first-child {
                                padding-right: 30px;
                            }
                        }
                    }
                }

                tfoot {
                    tr {
                        td {
                            .amount {
                                font-weight: bold;
                            }
                        }

                        &:first-child {
                            .amount {
                                font-weight: 400;
                            }
                        }
                    }

                }
            }
        }
    }
}





.modal-content {
    border-radius: 8px;
    padding: 40px !important;

    @media (max-width:600px) {
        padding: 30px 15px !important;
    }

    #reviews {
        h2.woocommerce-Reviews-title {
            display: none;
        }

        .wrap-rating-area {
            .product-rating {
                display: flex;
                justify-content: space-between;
                border: 0;
                margin-top: 0;

                @media(max-width:960px) {
                    flex-direction: column;
                }


                h2 {
                    font-size: 32px;
                    line-height: 40px;
                    color: #023662;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 400;

                    @media (max-width:600px) {
                        font-size: 26px;
                    }

                    @media (max-width:400px) {
                        font-size: 23px;
                    }
                }

                .wrapper {

                    @media (max-width:991px) {
                        padding: 0;
                    }

                    @media (max-width:400px) {
                        flex-direction: column;
                    }

                    .rating {
                        margin-right: 24px;

                        @media (max-width:450px) {
                            margin-right: 15px;
                        }

                        .average {
                            font-size: 32px;

                            @media (max-width:600px) {
                                font-size: 26px;
                                margin-bottom: 5px;
                            }
                        }
                    }

                    span.count-rating-custom {
                        @media(max-width:400px) {
                            position: relative;
                            top: 15px;
                        }
                    }

                    .rating-stars {
                        margin-left: 10px;

                        @media(max-width:400px) {
                            margin-left: 25px;
                        }
                    }
                }
            }




            span.text_info_reviews {
                font-size: 16px;
                color: #355E81;
                padding-bottom: 24px;
                margin-bottom: 24px;
                display: block;
                border-bottom: 1px solid #D7DFE6;
            }
        }


        .commentlist {
            padding: 0;
            margin: 0;

            li.review {
                list-style: none;
                border-bottom: 1px solid #D7DFE6;
                padding-bottom: 24px;
                margin-bottom: 24px;

                .comment_container {

                    img {
                        display: none;
                    }

                    .comment-text {
                        .star-rating {
                            display: none;
                        }

                        .meta {

                            h3 {
                                font-size: 23px;
                                color: #023662;
                                font-weight: 500;
                            }

                            .verified,
                            .woocommerce-review__published-date {
                                font-size: 16px;
                                line-height: 24px;
                                color: #355E81;
                            }



                            .woocommerce-Reviews-list {
                                .wrap-rating-area {
                                    .product-rating {
                                        .wrapper {
                                            padding: 16px 0 0;

                                            ul.rating-stars {
                                                margin: 0;
                                                padding: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }


        .star-rating {
            overflow: hidden;
            position: relative;
            height: 1.618em;
            line-height: 1.618;
            font-size: 1em;
            width: 5.3em;
            font-family: star;
            font-weight: 400;

            &::before {
                content: "☆☆☆☆☆";
                opacity: 0.25;
                float: left;
                top: 0;
                left: 0;
                position: absolute;
            }

            span {
                overflow: hidden;
                float: left;
                top: 0;
                left: 0;
                position: absolute;
                padding-top: 1.5em;

                &::before {
                    content: "☆☆☆☆☆";
                    top: 0;
                    position: absolute;
                    left: 0;
                    color: #2c2d33;
                }
            }
        }

        p.stars {
            display: inline-block;
            margin: 0;

            a {
                position: relative;
                height: 1em;
                width: 1em;
                text-indent: -999em;
                display: inline-block;
                text-decoration: none;
                margin-right: 1px;
                font-weight: 400;
                margin: 0 3px;

                &::before {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 1em;
                    height: 1em;
                    line-height: 1;
                    font-family: star;
                    content: url("data:image/svg+xml,%3Csvg width='27' height='25' viewBox='0 0 27 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1406 0.84375L9.09375 7.07812L2.20312 8.0625C0.984375 8.25 0.515625 9.75 1.40625 10.6406L6.32812 15.4688L5.15625 22.2656C4.96875 23.4844 6.28125 24.4219 7.35938 23.8594L13.5 20.625L19.5938 23.8594C20.6719 24.4219 21.9844 23.4844 21.7969 22.2656L20.625 15.4688L25.5469 10.6406C26.4375 9.75 25.9688 8.25 24.75 8.0625L17.9062 7.07812L14.8125 0.84375C14.2969 -0.234375 12.7031 -0.28125 12.1406 0.84375Z' fill='%23d7dfe6'%3E%3C/path%3E%3C/svg%3E");

                    color: #0bb2cd;
                    text-indent: 0;
                    font-size: 30px;
                }

                &:hover {
                    ~ {
                        a {
                            &::before {
                                content: url("data:image/svg+xml,%3Csvg width='27' height='25' viewBox='0 0 27 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1406 0.84375L9.09375 7.07812L2.20312 8.0625C0.984375 8.25 0.515625 9.75 1.40625 10.6406L6.32812 15.4688L5.15625 22.2656C4.96875 23.4844 6.28125 24.4219 7.35938 23.8594L13.5 20.625L19.5938 23.8594C20.6719 24.4219 21.9844 23.4844 21.7969 22.2656L20.625 15.4688L25.5469 10.6406C26.4375 9.75 25.9688 8.25 24.75 8.0625L17.9062 7.07812L14.8125 0.84375C14.2969 -0.234375 12.7031 -0.28125 12.1406 0.84375Z' fill='%23d7dfe6'%3E%3C/path%3E%3C/svg%3E");
                                color: #43454b;

                            }
                        }
                    }
                }
            }

            &:hover {
                a {
                    &::before {
                        content: url("data:image/svg+xml,%3Csvg width='27' height='25' viewBox='0 0 27 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1406 0.84375L9.09375 7.07812L2.20312 8.0625C0.984375 8.25 0.515625 9.75 1.40625 10.6406L6.32812 15.4688L5.15625 22.2656C4.96875 23.4844 6.28125 24.4219 7.35938 23.8594L13.5 20.625L19.5938 23.8594C20.6719 24.4219 21.9844 23.4844 21.7969 22.2656L20.625 15.4688L25.5469 10.6406C26.4375 9.75 25.9688 8.25 24.75 8.0625L17.9062 7.07812L14.8125 0.84375C14.2969 -0.234375 12.7031 -0.28125 12.1406 0.84375Z' fill='%230BB2CD'%3E%3C/path%3E%3C/svg%3E");
                        background: #0bb2cd;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        opacity: 1;
                    }
                }
            }
        }

        p.stars.selected {
            a.active {
                &::before {
                    content: url("data:image/svg+xml,%3Csvg width='27' height='25' viewBox='0 0 27 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1406 0.84375L9.09375 7.07812L2.20312 8.0625C0.984375 8.25 0.515625 9.75 1.40625 10.6406L6.32812 15.4688L5.15625 22.2656C4.96875 23.4844 6.28125 24.4219 7.35938 23.8594L13.5 20.625L19.5938 23.8594C20.6719 24.4219 21.9844 23.4844 21.7969 22.2656L20.625 15.4688L25.5469 10.6406C26.4375 9.75 25.9688 8.25 24.75 8.0625L17.9062 7.07812L14.8125 0.84375C14.2969 -0.234375 12.7031 -0.28125 12.1406 0.84375Z' fill='%230BB2CD'%3E%3C/path%3E%3C/svg%3E");
                    // background: #0bb2cd;
                    // -webkit-background-clip: text;
                    // -webkit-text-fill-color: transparent;
                    opacity: 1;
                }

                ~ {
                    a {
                        &::before {
                            content: url("data:image/svg+xml,%3Csvg width='27' height='25' viewBox='0 0 27 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1406 0.84375L9.09375 7.07812L2.20312 8.0625C0.984375 8.25 0.515625 9.75 1.40625 10.6406L6.32812 15.4688L5.15625 22.2656C4.96875 23.4844 6.28125 24.4219 7.35938 23.8594L13.5 20.625L19.5938 23.8594C20.6719 24.4219 21.9844 23.4844 21.7969 22.2656L20.625 15.4688L25.5469 10.6406C26.4375 9.75 25.9688 8.25 24.75 8.0625L17.9062 7.07812L14.8125 0.84375C14.2969 -0.234375 12.7031 -0.28125 12.1406 0.84375Z' fill='%23d7dfe6'%3E%3C/path%3E%3C/svg%3E");

                            color: #43454b;

                        }
                    }
                }
            }

            a {
                &:not(.active) {
                    &::before {
                        content: url("data:image/svg+xml,%3Csvg width='27' height='25' viewBox='0 0 27 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1406 0.84375L9.09375 7.07812L2.20312 8.0625C0.984375 8.25 0.515625 9.75 1.40625 10.6406L6.32812 15.4688L5.15625 22.2656C4.96875 23.4844 6.28125 24.4219 7.35938 23.8594L13.5 20.625L19.5938 23.8594C20.6719 24.4219 21.9844 23.4844 21.7969 22.2656L20.625 15.4688L25.5469 10.6406C26.4375 9.75 25.9688 8.25 24.75 8.0625L17.9062 7.07812L14.8125 0.84375C14.2969 -0.234375 12.7031 -0.28125 12.1406 0.84375Z' fill='%230BB2CD'%3E%3C/path%3E%3C/svg%3E");
                        fill: #ccc;
                        background: #0bb2cd;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        opacity: 1;

                    }
                }
            }
        }












        #review_form_wrapper {
            #review_form {
                #commentform {
                    .comment-form-comment {
                        textarea#comment {
                            max-width: 100%;
                        }
                    }
                }
            }
        }













        .button {
            &.center {
                margin: 0 auto;
                display: block;
            }
        }
    }

}



#landingpage-content {
    background-color: #FFFFFF;

    .intro-lp {


        .container-intro-lp {
            max-width: 100%;
            width: 1440px;
            margin: 0 auto;

            .intro-wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;

                @media(max-width:991px) {
                    grid-template-columns: 1fr;
                }

                .col-intro {
                    display: flex;
                    flex-direction: column;
                    padding: 65px 81px 0 80px;

                    @media(max-width:1440px) {
                        padding: 40px 24px 0 24px;
                    }



                    img {
                        width: 164px;
                        max-width: 100%;
                        height: auto;
                        margin-bottom: 72px;

                        @media(max-width:991px) {
                            margin-bottom: 42px;
                            max-width: 130px;
                        }
                    }

                    h1.text-title {
                        font-family: 'Rubik', sans-serif;
                        font-size: 47px;
                        color: var(--c-text);
                        font-weight: 400;
                        line-height: 59px;
                        margin-bottom: 16px;
                        letter-spacing: -3px;

                        @media(max-width:991px) {
                            font-size: 32px;
                            letter-spacing: -0.01em;
                            line-height: 40px;
                            margin-bottom: 16px;
                        }

                        strong {
                            font-weight: 500;
                        }
                    }

                    p {
                        font-size: 20px;
                        color: var(--c-neutral80);
                        font-size: 20px;
                        line-height: 35px;
                        margin-bottom: 67px;

                        @media(max-width:991px) {
                            margin-bottom: 40px;
                            font-size: 18px;
                            line-height: 27px;
                        }
                    }

                    .scroll-anhor {
                        display: flex;
                        align-items: center;
                        margin-bottom: 64px;

                        @media(max-width:991px) {
                            margin-bottom: 40px;
                        }

                        @media(max-width:767px) {
                            display: none;
                        }

                        .icon-anhor {
                            position: relative;
                            width: 60px;
                            height: 60px;
                            background-color: var(--c-turquoise);
                            border-radius: 50%;
                            margin-right: 21px;
                            display: block;

                            &:after {
                                content: '🡣';
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                color: #fff;
                            }
                        }

                        .text-anhor {
                            font-size: 16px;
                            color: var(--c-turquoise);
                            line-height: 24px;
                            font-weight: 500;
                            text-transform: uppercase;
                        }
                    }


                    &.bg-intro {
                        height: 100%;
                        min-height: 720px;
                        width: 100%;
                        background-position: top center;
                        background-size: cover;
                        filter: drop-shadow(0px 34px 34px rgba(11, 178, 205, 0.2));
                    }
                }
            }
        }


        .blue-area {
            background-color: var(--c-turquoise);


            .wrapper-blue-area {
                max-width: calc(910px + 48px);
                margin: 0 auto;
                padding: 160px 24px;

                @media(max-width:991px) {
                    padding: 64px 24px;
                }

                h2 {
                    font-size: 32px;
                    line-height: 40px;
                    color: #FFFFFF;
                    font-weight: 400;
                    margin-bottom: 0;

                    @media(max-width:991px) {
                        font-size: 24px;
                        line-height: 31px;
                    }
                }
            }
        }
    }



    .goodbye {
        padding: 120px 0 118px;
        background-color: #FFFFFF;

        @media(max-width:991px) {
            padding: 64px 0 64px;
        }

        .wrapper756 {
            max-width: calc(756px + 48px);
            margin: 0 auto;
            padding: 0 24px;

            .icon {
                width: 60px;
                height: 60px;
                margin: 0 auto 16px;
                display: flex;
                align-items: flex-end;

                @media(max-width:991px) {
                    margin: 0 0 16px;
                }
            }

            h1 {
                font-size: 47px;
                color: var(--c-text);
                font-weight: 400;
                line-height: 59px;
                margin-bottom: 16px;
                text-align: center;
                letter-spacing: -0.03em;
                margin-bottom: 40px;

                @media(max-width:991px) {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 40px;
                    text-align: left;
                    margin-bottom: 24px;
                }
            }

            .text-area {



                h3 {
                    font-weight: 500;
                    font-size: 23px;
                    line-height: 34px;
                    color: var(--c-neutral80);
                    margin-bottom: 40px;
                    font-weight: 500;

                    @media(max-width:991px) {
                        font-size: 21px;
                        line-height: 26.25px;
                    }
                }

                p {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 35px;
                    margin-bottom: 40px;

                    strong {
                        font-weight: 700;

                        @media(max-width:767px) {
                            font-weight: 400;
                        }
                    }

                    @media(max-width:991px) {
                        font-size: 18px;
                        line-height: 27px;
                    }

                }
            }

            .button_lp {
                max-width: 741px;
                margin: 48px auto 16px;
                display: block;
                font-size: 24px;
                font-weight: 500;

                @media(max-width:991px) {
                    margin: 40px auto 12px;
                    font-size: 18px;
                    line-height: 18px;
                    padding: 19px 28px;
                }
            }

            p.info_under_button {
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                text-align: center;
                text-transform: uppercase;
                color: var(--c-turquoise);
                margin-bottom: 0;

                @media(max-width:991px) {
                    font-size: 12px;
                    line-height: 150%;

                }
            }

        }

        &.low {
            background: var(--c-lightgray) url("../img/background.png");
            background-attachment: fixed;
            background-repeat: repeat;
            padding: 120px 0 268px;

            @media(max-width:400px) {
                padding: 60px 0 90px;
            }
        }
    }

    .fixed-top-promo {
        position: fixed;
        z-index: 9999;
        left: 0;
        top: -100px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
        display: flex;
        transition: .3s linear;
        padding: 12px;

        @media(max-width: 991px) {
            padding: 8px;
        }

        &.visible {
            top: 0;
        }


        .wrapper-fixed {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;


            img {
                max-width: 130px;
                height: auto;
                margin-right: 32px;

                @media (max-width: 1080px) {
                    max-width: 130px;
                    height: auto;
                    margin-right: 65px;
                }

                @media(max-width: 767px) {
                    max-width: 66px;
                    margin-right: 16px;
                }
            }

            .timer_and_btn {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;

                .timer-area {
                    margin-bottom: 0;
                    margin-right: 32px;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    font-weight: 400;
                    text-transform: uppercase;

                    @media(max-width:991px) {
                        font-size: 14px;
                        line-height: 14px;
                    }

                    @media(max-width: 576px) {
                        display: none;
                    }
                }

                .button-fixed-timer {
                    max-width: 542px;
                    padding: 19px 28px;
                    font-size: 17px;
                    line-height: 17px;
                    font-weight: 500;

                    @media(max-width: 991px) {
                        max-width: 450px;
                    }

                    @media(max-width: 767px) {
                        padding: 8px;
                        font-size: 14px;
                        line-height: 14px;
                        max-width: 272px;
                        text-align: left;
                    }
                }
            }
        }
    }


    .now4is1 {
        padding: 120px 140px 290px 140px;
        background-color: var(--c-neutral10);

        @media(max-width:1440px) {
            padding: 120px 24px 290px 24px;
        }

        @media(max-width:991px) {
            padding: 24px 24px 200px 24px;
        }

        @media(max-width:400px) {
            padding: 24px 24px 90px 24px;
        }

        .wrapper-content {
            max-width: 1157px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @media(max-width: 991px) {
                flex-direction: column-reverse;
            }

            .column-text {
                width: 462px;

                @media(max-width:1440px) {
                    padding-right: 24px;
                }

                @media(max-width:991px) {
                    width: 100%;
                    padding-right: 0;
                }

                .icon {
                    width: 47px;
                    height: 59px;
                    margin-bottom: 16px;
                    display: flex;
                    align-items: flex-end;

                    img {
                        max-width: 47px;
                        height: auto;
                    }
                }

                .text-title {
                    h1 {
                        font-size: 47px;
                        color: var(--c-text);
                        font-weight: 400;
                        line-height: 59px;
                        letter-spacing: -0.03em;
                        margin-bottom: 16px;

                        @media(max-width:991px) {
                            font-weight: 700;
                            font-size: 31px;
                            line-height: 40px;
                        }
                    }
                }

                .text-content {
                    p {
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 35px;
                        margin-bottom: 40px;
                        color: var(--c-neutral80);

                        @media(max-width:991px) {
                            font-size: 18px;
                            line-height: 27px;
                        }

                        strong {
                            font-weight: 700;

                            @media(max-width:767px) {
                                font-weight: 400;
                            }
                        }


                    }
                }

            }

            .column-img {
                width: 587px;

                @media(max-width:991px) {
                    width: 100%;
                    margin: 0 -24px 30px;
                }

                img {
                    @media(max-width:991px) {
                        width: calc(100% + 48px);
                    }
                }
            }
        }
    }


    .wooHelp {
        background-color: var(--c-orange);

        .mySwiperWoo {
            top: -201px;
            margin-bottom: -46px;

            @media(max-width: 767px) {
                top: -180px;
            }

            @media(max-width: 400px) {
                top: -95px;
            }

            .swiper-wrapper {
                padding: 30px 0;

                .swiper-slide {
                    width: 362px;

                    @media(max-width:767px) {
                        width: 300px;
                    }

                    @media(max-width:400px) {
                        width: 131px;
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                        border-radius: 20px;
                    }


                    &.swiper-slide-prev {
                        top: -30px;

                        @media(max-width:400px) {
                            top: -15px;
                        }
                    }

                    &.swiper-slide-next {
                        top: 30px;

                        @media(max-width:400px) {
                            top: 15px;
                        }
                    }


                }
            }
        }

        .wrapper {
            max-width: 756px;
            margin: -81px auto 0;
            padding: 0 24px;

            @media(max-width: 991px) {
                margin: -116px auto 0;
            }

            @media(max-width:400px) {
                margin: -46px auto 0;
            }

            .icon {
                width: 59px;
                height: 59px;
                margin: 0 auto 16px;
                display: block;

                @media(max-width:991px) {
                    margin: 0 0 16px;
                }

                img {
                    max-height: 59px;
                }
            }

            h1 {
                font-family: 'Rubik', sans-serif;
                font-size: 47px;
                color: #FFFFFF;
                font-weight: 400;
                line-height: 59px;
                margin-bottom: 16px;
                letter-spacing: -3%;
                text-align: center;

                @media(max-width:991px) {
                    font-size: 32px;
                    font-weight: 700;
                    letter-spacing: -0.01em;
                    line-height: 40px;
                    margin-bottom: 16px;
                    text-align: left;
                }
            }

            p {
                font-size: 20px;
                font-weight: 400;
                line-height: 35px;
                margin-bottom: 48px;
                color: #FFFFFF;
                text-align: center;


                @media(max-width:991px) {
                    font-size: 18px;
                    line-height: 27px;
                    text-align: left;
                    margin-bottom: 24px;
                }




            }


        }

        .wrapper-grid-block-white {
            max-width: 1197px;
            margin: 0 auto;
            padding: 0 24px 340px;


            @media(max-width: 767px) {
                padding: 0px 8px 230px;
            }

            @media(max-width: 400px) {
                padding: 0px 8px 100px;
            }

            .grid-block-white-lp {
                display: flex;
                flex-wrap: wrap;
                grid-gap: 30px;
                justify-content: center;
                align-items: stretch;
                margin-bottom: 64px;

                @media(max-width: 991px) {
                    margin-bottom: 24px;
                }

                @media(max-width: 767px) {
                    gap: 8px;
                }


                .item-block-grid {
                    background-color: #FFFFFF;
                    flex-basis: 363px;
                    padding: 40px;
                    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
                    border-radius: 8px;

                    @media(max-width: 1213px) {
                        flex-basis: 48%;
                    }

                    @media(max-width: 991px) {
                        padding: 24px;
                    }

                    @media(max-width:814px) {
                        flex-basis: 100%;
                    }



                    .icon {
                        width: 30px;
                        height: 30px;
                        margin-bottom: 16px;

                        img {
                            max-width: 100%;
                            height: auto;
                        }
                    }

                    h3 {
                        font-weight: 500;
                        font-size: 23px;
                        line-height: 34px;
                        margin-bottom: 16px;

                        @media(max-width: 991px) {
                            font-size: 21px;
                            line-height: 125%;
                        }
                    }

                    p {
                        font-size: 18px;
                        line-height: 27px;
                        margin-bottom: 0;

                        @media(max-width:991px) {
                            font-size: 16px;
                            line-height: 150%;
                        }


                    }
                }
            }

            .text-under-grid {
                max-width: 756px;
                margin: 0 auto;

                @media(max-width:802px) {
                    padding: 0 24px;
                }


                p {
                    font-size: 20px;
                    color: #FFFFFF;
                    line-height: 35px;
                    margin-bottom: 40px;

                    @media(max-width:991px) {
                        font-size: 18px;
                        line-height: 27px;
                    }
                }
            }

            .button-area {
                padding: 0 24px;

                .section_colours {
                    max-width: 741px;
                    margin: 0 auto 16px;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 24px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;

                    @media(max-width:991px) {
                        font-size: 18px;
                    }

                    &.purple {
                        background-color: var(--c-purple);
                    }
                }

                h6 {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    text-align: center;

                    @media(max-width:991px) {
                        font-size: 12px;
                        line-height: 18px;
                    }

                }
            }
        }

        &.no_compromise {
            background-color: var(--c-purple);

            .wrapper {
                margin-top: 0;
                padding-top: 120px;

                @media(max-width:991px) {
                    padding-top: 64px;
                }


                p {
                    text-align: left;
                    color: #F1EBFC;
                }
            }

            .wrapper-grid-block-white {
                padding-bottom: 120px;

                .button-area {
                    h6 {
                        color: #F1EBFC;
                    }
                }
            }
        }
    }


    section.forYourChild {
        position: relative;

        .mySwiperWoo {
            top: -230px;
            margin-bottom: -110px;

            @media(max-width: 991px) {
                margin-bottom: -240px;
            }

            @media(max-width: 767px) {
                top: -180px;
            }

            @media(max-width: 400px) {
                top: -95px;
            }

            .swiper-wrapper {
                padding: 30px 0;

                .swiper-slide {
                    width: 362px;

                    @media(max-width:767px) {
                        width: 300px;
                    }

                    @media(max-width:400px) {
                        width: 131px;
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                        border-radius: 20px;
                    }


                    &.swiper-slide-prev {
                        top: -30px;

                        @media(max-width:400px) {
                            top: -15px;
                        }
                    }

                    &.swiper-slide-next {
                        top: 30px;

                        @media(max-width:400px) {
                            top: 15px;
                        }
                    }


                }
            }
        }

        .wrapper-area {
            max-width: 1197px;
            margin: 0 auto;
            padding: 0 24px;



            .wrap-grid {
                display: grid;
                grid-template-columns: 461px 1fr;

                @media(max-width:991px) {
                    display: flex;
                    flex-direction: column-reverse;
                }

                .col-text-left {
                    .icon {
                        width: 59px;
                        height: 59px;

                        img {
                            max-width: 100%;
                            height: auto;
                            margin-bottom: 16px;
                        }
                    }

                    h1.text-title {
                        font-family: 'Rubik', sans-serif;
                        font-size: 47px;
                        color: var(--c-text);
                        font-weight: 400;
                        line-height: 59px;
                        margin-bottom: 16px;
                        letter-spacing: -3px;

                        @media(max-width:991px) {
                            font-size: 32px;
                            letter-spacing: -0.01em;
                            line-height: 40px;
                            margin-bottom: 16px;
                            font-weight: 700;
                        }

                        strong {
                            font-weight: 500;
                        }
                    }

                    p {
                        font-size: 20px;
                        color: var(--c-neutral80);
                        font-size: 20px;
                        line-height: 35px;
                        margin-bottom: 40px;

                        @media(max-width:991px) {
                            font-size: 18px;
                            line-height: 27px;
                        }
                    }
                }

                .col-bg-right {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 1040px;
                    background-position: bottom left;
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 50%;
                    max-height: 100%;

                    @media(max-width: 991px) {
                        height: 900px;
                        background-position: left bottom;
                        background-size: cover;
                        width: 100%;
                        position: relative;
                        right: -24px;
                        margin-bottom: 24px;
                    }

                    @media(max-width: 767px) {
                        height: 650px;
                    }

                    @media(max-width: 576px) {
                        height: 550px;
                    }
                }
            }





        }
    }







    .wooGuarantee {
        background-color: #E7578E;
        color: #fff;


        .grid-transparent {
            background-color: #ffffff00 !important;
            flex-basis: 363px;
            padding: 40px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
            border-radius: 0px;
        }

        .wrapper-grid-block-white {
            .grid-block-white-lp {
                .item-block-grid {
                    background-color: #FFFFFF;
                    flex-basis: 363px;
                    padding: 15px;
                    margin-top: 25px;
                    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
                    border-radius: 8px;

                    p {
                        font-size: 16px !important;
                    }
                }

                border-top: 1px solid rgba(255, 255, 255, 0.3);
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            }

            max-width: 1197px;
            margin: 0 auto;
            padding: 0 24px 0px;
        }

        .lp_block_float_left {
            .icon {
                float: left !important;
                width: 30px !important;
                height: 30px !important;
                margin-bottom: 75px !important;
                margin-right: 24px !important;
            }
        }

        .wrapper {
            text-align: center;
            max-width: 1260px;
            font-size: 20px !important;
            margin-bottom: 50px;
        }

        .h3 {
            font-size: 47px !important;
        }

        p {
            margin-bottom: 35px;
        }

        .LP_display_category {
            max-width: 1197px;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 100px;

            .price {
                text-align: center;
                margin: 0 auto;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }

        .tag_preorder {
            position: absolute;
            background: #f5a128;
            color: #fff !important;
            width: 101%;
            font-size: 14px;
            top: -1px;
            left: -1px;
            border-radius: 7px 7px 0 0;
        }
    }


    .lp_pink {
        color: #E7578E;
        font-weight: bold;
        font-size: 16px;
    }

    .fixed-top-promo {
        .wrapper-fixed {
            .timer_and_btn {
                .button-fixed-timer {
                    margin-left: 30px;
                    font-size: 16px !important;
                    max-width: 570px !important;
                }
            }
        }
    }




    @media (max-width: 576px) {
        ul.products {
            grid-template-columns: repeat(2, 1fr);
            margin: 0 25px;
            grid-gap: 30px;
        }
    }

    @media (max-width: 476px) {
        ul.products {
            grid-template-columns: repeat(1, 1fr);
            margin: 0 25px;
            grid-gap: 30px;
        }
    }




}