.elementor-1028,
.elementor-16,
.elementor-873,
.elementor-878,
.elementor-881,
.elementor-2467 {
	margin-top: 40px;

	// Menu
	.raven-nav-menu {
		margin: 0;
		padding: 0;
		li {
			display: block;
			width: 100%;
			a {
				display: block;
				padding: 5px 10px!important;
			}
		}
	}

	// Accordion
	.elementor-accordion {
		.elementor-accordion-item {
			border: none;
		}
	}
}